/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *| 
|* CSS Reset
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  background: transparent;
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

h1, h2, h3, h4, h5, h6 {
  clear: both;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

blockquote {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a img {
  border: none;
}

/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Globals
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #32c896;
  color: #505050;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.8;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: #32c896;
}

a:hover {
  color: #238b68;
}

/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Template
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */
#wrapper {
  width: 100%;
  margin: 0 auto;
}

#main {
  background-color: #fff;
  padding: 30px 0;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 0 30px;
}

/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Info Bar
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */
#info-bar {
  background-color: #289f77;
}

#info-bar a {
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  display: inline-block;
  margin: 0;
  padding: 10px;
}

#info-bar a:hover {
  background-color: #238b68;
}

span.all-tutorials,
span.back-to-tutorial {
  display: block;
  width: 50%;
}

span.all-tutorials {
  float: left;
  text-align: left;
}

span.back-to-tutorial {
  float: right;
  text-align: right;
}

/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Header
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */
header {
  padding: 30px 0;
}

#title {
  text-align: center;
}

#title h1 {
  color: #fff;
  font-size: 30px;
  margin-bottom: 10px;
}

#title h2 {
  color: #81dfc0;
  font-size: 20px;
}

/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Footer
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */
/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Extras
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */
.clearfix:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}

/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Media Queries
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */
@media all and (max-width: 600px) {
  .container {
    width: 100%;
  }

  #info-bar a {
    display: block;
  }

  span.all-tutorials,
  span.back-to-tutorial {
    width: 100%;
  }

  span.all-tutorials,
  span.back-to-tutorial {
    float: none;
    text-align: center;
  }

  span.all-tutorials {
    border-bottom: solid 1px #238b68;
  }

  #title h1 {
    font-size: 20px;
  }

  #title h2 {
    font-size: 16px;
  }
}
