@charset "utf-8";
/* CSS Document */


@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.0.3');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'), 
	   url('../fonts/fontawesome-webfont.woff?v=4.0.3') format('woff'), 
	   url('../fonts/fontawesome-webfont.ttf?v=4.0.3') format('truetype'), 
	   url('../fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family:Segoe UI;
    src: url('../fonts/opensans-light-webfont.eot');
    src: url('../fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-light-webfont.woff2') format('woff2'),
         url('../fonts/opensans-light-webfont.woff') format('woff'),
         url('../fonts/opensans-light-webfont.ttf') format('truetype'),
         url('../fonts/opensans-light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.eot');
    src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/opensans-regular-webfont.woff') format('woff'),
         url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
         url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansitalic';
    src: url('../fonts/opensans-italic-webfont.eot');
    src: url('../fonts/opensans-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-italic-webfont.woff2') format('woff2'),
         url('../fonts/opensans-italic-webfont.woff') format('woff'),
         url('../fonts/opensans-italic-webfont.ttf') format('truetype'),
         url('../fonts/opensans-italic-webfont.svg#open_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'open_sanssemibold';
    src: url('../fonts/opensans-semibold-webfont.eot');
    src: url('../fonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-semibold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-semibold-webfont.woff') format('woff'),
         url('../fonts/opensans-semibold-webfont.ttf') format('truetype'),
         url('../fonts/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*general CSS*******************************************Start******************************************************/

*{ padding:0px;
margin:0px;}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	background: transparent;
}

section, aside, article, details, header, figure, footer, figcaption, hgroup, menu, nav{ padding:0px;
margin:0px;
display:block;}

body{ font-family: 'open_sanslight';
font-size:15px;
color:#0f0f0f;
line-height:23px;
padding:0px;
margin:0px;}

#page{ padding:0px;
margin:0px;}

img{ border:none;
padding:0px;
margin:0px;
font-size:0;}

a{ -webkit-transition:all 0.7s ease-in;
-o-transition:all 0.7s ease-in;
-moz-transition:all 0.7s ease-in;
transition:all 0.7s ease-in;}

ul, li{ list-style-type:none;}

nav ul{ list-style:none;}

a:hover, a:focus{ text-decoration:none;
outline:none;}

h1,h2,h3,h4,h5,h6{ padding:0px;
margin:0px;
line-height:normal;
font-weight:normal;}

h1{ font-family: 'open_sanssemibold';
font-size:30px;
color:#0f0f0f;
padding-bottom:30px;
margin:0px;
text-align:center;
text-transform:uppercase;}

h3{ font-family: 'open_sanssemibold';
font-size:16px;
color:#222222;
padding-bottom:15px;
margin:0px;
text-transform:uppercase;}

p{font-family: 'open_sanslight';
font-size:15px;
color:#0f0f0f;
padding-bottom:15px;
margin:0px;
font-family: 'Product Sans', Arial, sans-serif;
}
.hobby_global{ padding:0px;
margin:0px;
font-family: 'Product Sans', Arial, sans-serif;


}
.hobby_global h3 {
    /* font-family: segoe ui; */
    font-weight: bold;
    font-family: 'Product Sans', Arial, sans-serif;
        color: dimgrey;
   }

.hobby_global h3.para {
    color: rgba(255, 255, 255, 0.99);
    font-family: segoe ui;
    font-weight: 500;
}

.hobby_global h1 {
        color: #737373;
    padding-bottom: 20px;
    font-weight: 600;
    font-size: 23px;
    font-family: segoe ui;
    }

.hobby_global p
{
	    color: #6d6767;
    margin-top: 18px;
    /* color: #444; */
    line-height: 19px;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}



input {
	transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
}

.bttn_sec{ text-align:center;}

.bttn_sec a{ font-family: 'open_sansregular';
font-size:15px;
color:#FFFFFF;
text-decoration:none;
background:#4385f4;
-webkit-border-radius:2px;
-o-border-radius:2px;
-moz-border-radius:2px;
border-radius:2px;
padding:10px 50px;
text-transform:uppercase;}

.bttn_sec a:hover{ background:#f15a23;}

/*icon_sec*******************************************Start******************************************************/

#icon_sec{ background:#edebeb;
padding:60px 0px;
margin:0px;
text-align:center;}

.each_icon_sec{ width:18%;
display:inline-block;
padding:0px;
margin-right:20px;}

.each_icon_sec:nth-last-child(1){ margin-right:0px;}

.each_icon_sec_top{ padding:0px;
margin-bottom:20px;}

.icon_circle{ width:151px;
height:151px;
background:#FFF;
margin:0 auto;
text-align:center;
-webkit-border-radius:50%;
-o-border-radius:50%;
-moz-border-radius:50%;
border-radius:50%;
line-height:162px;
border:1px solid #d2d2d2;}

.icon_circle img{ width: auto;}

.each_icon_sec_bttn{ padding:0px;
margin:0px;}

/*banner_sec*******************************************Start******************************************************/

#mid_body_section{ padding:0px;
margin:0px;}

.banner{ padding:0px;
margin:0px;}

.banner p{ color:#FFF;
font-size:17px;}

.banner_contt ul{ list-style-type:none;
margin-bottom:20px;}

.banner_contt ul li{ display:inline-block;
font-family: 'open_sanslight';
font-size:18px;
text-transform:uppercase;
margin-right:15px;
padding-right:20px;
list-style-type:circle;
/*
background:url(../images/banner-circle.png) no-repeat right;
*/
    font-family: 'Raleway', sans-serif;
    color: white;
   
        background: none;
    border: 1px solid #FFF;
    padding: 11px 26px;
}

.banner_contt ul li:nth-last-child(1){ background:none;}

.banner h1{font-family: 'open_sanssemibold';
font-size:40px;
text-transform:uppercase;}

.banner_contt_box_sec{ position:absolute;
top:0;
right:0;
left:0;
bottom:0;}

.logo_sec{ padding:0px;
margin:30px 0px;}

.logo_sec img{ width:auto !important;}

.banner_contt{ width:55%;
float:right;}

.banner_contt_box_sec h1{ color:#444;
font-family:segoe ui;
text-transform:uppercase;
font-size:36px;
line-height:50px;
text-align:left;
padding-bottom:15px;}

.banner_contt_box_sec h3{ text-transform:uppercase;
font-size:18px;
padding-bottom:20px;}

.banner_contt_box_sec p{ color:#FFF;
padding:0px;
margin:0px;}

.contact_field_sec{ float:left;
width:37%;
margin-right:12px;}

.contact_field_sec:nth-last-child(1){ margin-right:0px;}

.contact_page input,select,button{
width: 100%;
height: 33px;
border:none;
background: #FFFFFF;
padding-left: 10px;
display: block;
margin-bottom: 15px;
color: #585958;
font-size: 14px;
font-family: 'open_sansregular';
margin:0px;}

.contact_page input{ color:#000;}

.contact_page input{ color:#000;}

.contact_page.forgot_password_field input{ color:#000;
border:1px solid #d1d1d1;
margin-bottom:15px;}

.register input{ color:#000;
background:rgba(255,255,255,0.7);
margin-bottom:20px;}

.register input[type="radio"] {
color: #7a7a7a;
font-family: 'open_sansregular';
font-size: 15px;
margin-bottom: 15px;
height:15px;
width:15px;}

.register input[type="submit"]{
width:200px;
height: 35px;
border:0;
outline:0;
line-height:35px;
border-radius:5px;
outline: 0;
text-align: center;
color: #fff;
font-size: 15px;
 font-family: 'open_sansregular';
text-transform: uppercase;
display: block;
transition:all 0.5s;
-webkit-transition:all 0.5s;
-moz-transition:all 0.5s;
-o-transition:all 0.5s;
-webkit-border-radius:2px;
-o-border-radius:2px;
-moz-border-radius:2px;
-ms-border-radius:2px;
border-radius:2px;
background:#f15a23;

}
.register input[type="submit"]:hover{
	background:#4385f4;
}

.register label {
    color: #747474 !important;
    font-family: "latoregular";
    font-size: 15px;
    font-weight: normal;
    padding-left: 10px;}

.contact_page span{ color:#F00;
font-family: 'open_sansregular';
font-size:14px;}

.field_area{ padding:0px;
margin:0px 0px 20px 0px;}

.forgot{ padding:0px;
margin-left:15px;
width:75%;
float:left;}

.forgot a{font-family: 'open_sansregular';
font-size:15px;
color:#FFFFFF;
text-decoration:underline;}

.forgot a:hover{ color:#ef542e;}


.log_sec{ text-align:left;
float:left;
margin-top:5px;
width:20%;}

.log_sec a, .log_sec button{ font-family: 'open_sansregular';
font-size:15px;
color:#FFFFFF;
text-decoration:none;
background:#444;
-webkit-border-radius:2px;
-o-border-radius:2px;
-moz-border-radius:2px;
border-radius:2px;
padding:7px 30px;
text-transform:uppercase;}

.log_sec a:hover{ background:#4385f4;}

.log_sec a.sign_up{background:none;
border:1px solid #FFF;}

.log_sec a:hover.sign_up{border:1px solid #FFF;}

.log_sec a.sign_up:hover
{
	background:#EF542E;
}


/*hobby_networking_sec*******************************************Start******************************************************/

#hobby_networking_sec{ padding:60px 0px;
margin:0px;}

.hobby_networking_contt_area{ padding:0px;
margin:0px; font-family: 'Product Sans', Arial, sans-serif;}

.hobby_networking_contt_area h1{ text-align:left;     font-size: 30px;
    font-family: segoe ui;}

.hobby_networking_img_area{ padding:0px;
margin:0px;}

.hobby_networking_img_area img{ width:auto;}

.hobby_networking_contt_area h3{ font-family: 'open_sansregular';
font-size:18px;
color:#777;
    padding-bottom: 12px;
    margin-top: 46px;
text-transform:none;
line-height:26px;
    font-weight: bold;}


.hobby_networking_contt_area p {
    color: #444;
    line-height: 21px;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    }

/*parallax_sec*******************************************Start******************************************************/

.parallax{position:relative;/*margin:1000px auto;*/width:100%; padding:70px 0px;background-attachment:fixed;background-position:50% 50%;background-repeat:no-repeat;background-size:cover}

.parallax.bg1{background-image:url(../images/hobby-parallax-image.jpg);
height:464px;}

.parallax_contt_area{ position:absolute;
top:10%;
left:0;
right:0;
bottom:0;}

.parallax_contt_sec{ width:70%;
text-align:center;
margin:0 auto;}

.parallax_contt_area h1{ color:#FFF;
text-align:center;
font-size:35px;
font-family: 'open_sansregular';
padding-bottom:25px;
line-height:42px;}

/*explore_hobbies_sec*******************************************Start******************************************************/

#explore_hobbies_sec{ padding:60px;
margin:0px;     font-family: 'Raleway', sans-serif;}

.explore_hobbies_bttn_sec{ padding:0px;
margin:0px;}

.explore_hobbies_bttn_sec a{ text-decoration:none;}

.explore_hobbies_bttn_sec a .explore_hobbies_box{ width:185px;
height:185px;
background:#edebeb;
text-align:center;
margin:0px 6px 6px 0px;
width:16%;
float:left;}

.explore_hobbies_icon_box{ height:125px;
line-height:140px;}

.explore_hobbies_contt_box{ height:75px;}

.explore_hobbies_bttn_sec a .explore_hobbies_box h3{ color:#565656;}

.explore_hobbies_bttn_sec a:hover .explore_hobbies_box h3{ color:#272f32;}

/*work_through_sec*******************************************Start******************************************************/

#work_through_sec{ padding:60px 0px;
background:url(../images/walk-through-bg.jpg) repeat;}

#work_through_sec h1{ color:#FFF;}

.video_sec{     
    padding: 0px;
    margin: 0 auto;
    text-align: center;
    width: 724px;
    height: 420px;
}

.video_bttn{ text-align:center;
margin-top:30px;}

.video_bttn a{ font-family: 'open_sansregular';
font-size:15px;
color:#FFFFFF;
text-decoration:none;
-webkit-background:rgba(0,0,0,0.6);
-o-background:rgba(0,0,0,0.6);
-moz-background:rgba(0,0,0,0.6);
background:rgba(0,0,0,0.6);
-webkit-border-radius:2px;
-o-border-radius:2px;
-moz-border-radius:2px;
border-radius:2px;
padding:10px 50px;
text-transform:uppercase;
border:1px solid #565656;}

.video_bttn a:hover{ background:#f15a23;}

/*h_mag_sec*******************************************Start******************************************************/

#h_mag{ padding:60px;
margin:0px;}

#h_mag h1{ padding-bottom:3px;}

.download_icon_circle{ width:50px;
height:50px;
-webkit-border-radius:50%;
-moz-border-radius:50%;
-o-border-radius:50%;
border-radius:50%;
background:transparent;
border:3px solid #FFF;
margin:0 auto;
margin-top:20%;
margin-bottom:20px;}

.download_icon{ color:#FFF;
font-size:22px;
line-height:42px;}

/*footer*******************************************Start******************************************************/

footer{ padding:40px 0px;
background:url(../images/walk-through-bg.jpg) repeat;}

footer .footer_top{ padding:0px;
margin-bottom:20px;
text-align:center;}

footer .footer_top img{ width:auto;}

footer p{ color:#FFF;
padding-bottom:0px;}

footer .footer_bttn{ padding:0px;
margin:0px;
text-align:center;}

.footer_bttn ul{ list-style-type:none;
margin-bottom:15px;}

.footer_bttn ul li{ display:inline-block;}

.footer_bttn ul li a{ font-size:15px;
color:#FFF;
 font-family: 'open_sansregular';
text-decoration:none;
padding:0px 15px;}

.footer_bttn ul li a:hover{ text-decoration:none;
color:#f15a23;}

/*sign_up_page*******************************************Start******************************************************/

#sign_up_page{ padding:0px;
margin:0px;
background:url(../images/sign_up_page.jpg) no-repeat;
background-size:cover;
width:100%;}

.sign_up_body{ margin-top:0px;}

.sign_up_body h1{ text-transform:uppercase;
text-align:left;
font-size:26px;}

.following_steps{ padding:0px;
text-align:left;
margin-top:50px;}

.following_bottom{ margin-top:10px;}

.each_step{ margin-bottom:30px;}

.each_step_left{float:left;
width:25%;}

.each_step_right{float:left;
width:75%;}

.each_step h3{ color:#ef542e;
text-transform:none;
padding-bottom:5px;
font-size:18px;}

.step_circle_outer{ height:77px;
width:77px;
border:1px dashed #FFF;
-moz-border:1px dashed #FFF;
text-align:center;
-webkit-border-radius:50%;
-o-border-radius:50%;
-moz-border-radius:50%;
border-radius:50%}

.step_circle{ height:68px;
width:68px;
background:#e55c3c;
-webkit-border-radius:50%;
-o-border-radius:50%;
-moz-border-radius:50%;
border-radius:50%;
-webkit-box-shadow: inset 0px 4px 49px -4px rgba(0,0,0,0.45);
-moz-box-shadow: inset 0px 4px 49px -4px rgba(0,0,0,0.45);
box-shadow: inset 0px 4px 49px -4px rgba(0,0,0,0.45);
margin:0 auto;
margin-top:5%;}

.step_circle h1{ font-size:40px;
font-family: 'open_sanssemibold';
color:#FFF;
text-align:center;
line-height:60px;
text-shadow: 2px 5px #424242;}

/*sign_up_field************************/

.sign_up_field{ margin:30px 0px 0px 0px;
background:rgba(0,0,0,0.1);
padding:20px;
width:44%;
float:right;}

.sign_up_field p{ color:#FFF;}

.terms_left{ float:left;
margin-right:20px;}

.terms_left ul{ list-style-type:none;}

.terms_left ul li{ display:inline-block;}

/*forgot_password************************/

.forgot_password_top{ padding:0px;
margin:30px 0px;
text-align:center;}

.forgot_password_bttn{ border:1px solid #d1d1d1;
padding:15px;
width:40%;
margin:0 auto;
margin-bottom:30px;}

/*log_in_page*******************************************Start******************************************************/

header{ background:#FFF;
padding:25px 0px;
margin:0px;}

.inner_logo{ padding:0px;
margin:0px;}

.inner_logo img{ width:auto;}

#inner_menu{ padding:0px;
margin:0px;
background:#ef542e;}

#inner_banner{ padding:0px;
margin:0px;
position:relative;}

.inner_banner_contt{ padding:0px;
margin:0px;
position:absolute;
left:0;
top:0;
bottom:0;
right:0;}

.inner_banner_contt_area{ width:70%;
margin-top:8%;}

#inner_banner h1{font-family: 'open_sansregular';
font-size:24px;
color:#FFF;
text-transform:none;
text-align:left;}

#inner_banner img{ width:100%;}

#my_hobby_sec{ padding:60px 0px;
margin:0px;}

.my_hobby_sec_top{ padding:0px;}

.each_hobby_one{ padding:0px;
margin-bottom:30px;}

.each_hobby_two{ padding:0px;
margin-bottom:30px;}

.hobby_news{ padding:0px;
float:left;
width:49%;
margin-right:10px;}

.hobby_news:nth-child(2n+2){ margin-right:0px;}

.hobby_page{ padding:0px;
margin-right:10px;
float:left;
width:49%;
position:relative;}

.hobby_page:nth-child(2n+2){ margin-right:0px;}

.hobby_page_bttn{ position:absolute;
top:47%;
right:0;
left:0;
bottom:0;
text-align:center;}

.hobby_page_bttn a{ font-family: 'open_sansregular';
font-size:15px;
color:#FFFFFF;
text-decoration:none;
background: rgba(0,0,0,0.5);
padding:6px 30px;
text-transform:uppercase;}

.hobby_page_bttn a:hover{ background:#f15a23;}

.hobby_page img{ width:100%;}

.hobby_news_box{ border:7px solid rgba(0,0,0,0.4);
position:relative;}

.hobby_news_box img{ width:100%;}

.hobby_news_box_contt{ position:absolute;
top:0;
bottom:0;
right:0;
left:0;
background:rgba(0,0,0,0.6);
padding:40px 20px;}

.hobby_news_box_contt h2{font-family: 'open_sanssemibold';
font-size:20px;
color:#FFF;
text-transform:uppercase;
padding-bottom:5px;}

.hobby_news_box_contt p{ color:#FFF;
padding-bottom:7px;}

.news_box_bttn{ text-align:left;
margin-top:10px;}

.news_box_bttn a{ font-family: 'open_sansregular';
font-size:15px;
color:#FFFFFF;
text-decoration:none;
background:transparent;
padding:6px 30px;
text-transform:uppercase;
border:1px solid #FFF;;}

.news_box_bttn a:hover{ background:#f15a23;}

/*my_hobby*******************************************Start******************************************************/

.similar_bttn_sec{ padding:0px;
margin:0px;}

.similar_view_more_sec{ padding:0px;
margin:30px 0px 40px 0px;
float:right;}

.similar_bttn_sec img{ width:auto;}

.similar_hobby_sec{ padding:0px;
margin-bottom:30px;
border-bottom:1px solid #3a3a3a;}

.half_circle{background:url(../images/half-circle-bg.png) no-repeat;
width:172px;
height:77px;
margin:0 auto;
padding-top:10px;}

.half_circle h3{ color:#FFF;
text-align:center;
font-size:15px;}

.hobby_zone{ width:70%;
margin:0 auto;}

.hobby_zone.hobby_zone_part_two{ width:90%;}

.hobby_zone h3{ color:#FFF;
padding-bottom:3px;}

.hobby_zone h4{ color:#FFF;
padding-bottom:3px;}

.hobby_zone_right{ padding:0px;
margin:0px;
float:left;
width:50%;
border-left:6px solid rgba(0,0,0,0.4);
position:relative;}

.black_circle{ height:20px;
width:20px;
-webkit-border-radius:50%;
-o-border-radius:50%;
-moz-border-radius:50%;
border-radius:50%;
position:absolute;
top:54%;
bottom:0;
right:0;
left:-13px;
background:rgba(0,0,0,0.5);}

.black_circle.number_two{ top:62%;}

.red_circle{ height:10px;
width:10px;
-webkit-border-radius:50%;
-o-border-radius:50%;
-moz-border-radius:50%;
border-radius:50%;
background:#F00;
margin:0 auto;
margin-top:5px;}

.hobby_zone_left{ padding:0px;
margin:0px;
float:left;
width:50%;}

.image_contt_box{ margin-top:30px;}

.image_box{ float:left;
width:27%;}

.image_box_one{ float:right;
width:27%;}

.people_name{float:right;
border-bottom:4px solid rgba(0,0,0,0.4);
width:73%;
margin-top:8%;
padding-left:20px;}

.people_name.people_name_one{ float:left;}

.people_name.people_name_one h3{ text-align:right;
padding-right:20px;
padding-left:0px;}

/*profile_menu****************/

.alert_menu{ padding:0px;
margin-top:12px;
float:left;}

.alert_menu ul{ list-style-type:none;}

.alert_menu ul li{ display:inline-block;
margin-right:20px;}

.alert_menu ul li:nth-last-child(1){ margin-right:0px;}

.alert_menu ul li a{ text-decoration:none;}

.alert_menu ul li a .menu_icon{ padding:0px;
margin-right:3px;
display:inline-block;}

.alert_menu ul li a .menu_icon_box{ padding:0px;
margin:0px;
 font-family: 'open_sanssemibold';
background:#FFF;
height:15px;
width:15px;
display:inline-block;
text-align:center;
line-height:14px;
color:#3f3f3f;
font-size:11px;}


.nav > li > a{ padding:10px 10px;}

.navbar-default .navbar-toggle{border-color:transparent;}

.container-fluid{ padding:0px;
margin:0px;}

.navbar-collapse{ padding:0px;}

.log_out{ padding:0px;
margin-top:12px;
float:right;}

.log_out a{ font-family: 'open_sansregular';
font-size:14px;
color:#FFF;
text-decoration:none;
border:1px solid #FFF;
padding:5px 20px;
text-transform:uppercase;}

.search_ber{
margin:0px 20px;
border-radius:5px;
float:right;}

.search_ber_input{
width:240px;
height:32px;
font-family: 'open_sansitalic';
color:#6d727e;
font-size:14px;
font-style:italic;
background: none;
vertical-align: middle;
float:left;
border:none;
border:1px solid #cecccc;
padding-left:10px;}

.search_bot_sec{ padding:0px;
margin:0px;
float:left;
background:#ef542e;
border:none;}

.search_bot{
width:40px;
height:32px;
background:url(../images/search-icon.png) no-repeat 8px 5px;
cursor: pointer;
border:none;}

.log_out a:hover{ color:#F00;}

.navbar-default .navbar-toggle .icon-bar{ background-color:#FFF;}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color:transparent;}

.navbar-default .navbar-nav > li > a {
color: #FFF;
font-family: 'open_sansregular';}

.navbar-default .navbar-nav > li > a img{ padding-right:10px;}

.navbar { margin-bottom:0px;}

.profile_menu{ padding:0px;
margin:0px;}

/*my_hobby****************/

#hobby_management_sec{ padding:60px 0px;
margin:0px;}

.hobby_story{ padding:0px;
margin:0px 30px 0px 0px;
width:45%;
float:left;}

.hobby_story:nth-child(2n+2){margin:0px 0px 0px 30px;}

.hobby_story h2{ font-family: 'open_sansregular';
font-size:22px;
text-align:left;
padding-bottom:15px;
color:#0f0f0f;
text-transform:uppercase;}

.hobby_story_bottom{ padding:0px;
margin-bottom:30px;
position:relative;}

.hobby_story_bottom img{ width:100%;}

.hobby_icon_bg{ padding:0px;
margin:0px;
position:absolute;
right:0;
left:0;
bottom:0;
background:url(../images/icon-bg.png) no-repeat;
width:102px;
height:51px;
margin:0 auto;
text-align:center;
line-height:55px;}

.hobby_icon_bg img{ width:auto !important;}

.click_bttn{ padding:3px 25px;
margin:0px;
position:absolute;
right:0;
top:0;
background:rgba(0,0,0,0.3);}

.click_bttn a{font-family: 'open_sansregular';
font-size:14px;
text-transform:uppercase;
text-decoration:none;
padding:0px;
margin:0px;
color:#FFF;}

.click_bttn a:hover{ color:#ef542e;}

/*my_hobby****************/

#list_hobby_sec{ padding:60px 0px 0px 0px;
margin:0px;}

#list_hobby_sec h3{ color:#ef542e;
padding-bottom:0px;
text-transform:none;
font-size:22px;
font-weight:normal;}

.list_hobby_bttn_sec{ padding:0px;
margin:0px;}

.list_box{ background:#f7f7f7;
padding:15px 10px;
border:1px solid #e1e1e1;
margin-bottom:40px;}

.list_box a{font-family: 'open_sansregular';
font-size:15px;
text-decoration:underline;
background:url(../images/arrow.png) no-repeat right 6px;
color:#444343;
padding-right:15px;
padding-bottom:6px;}

.list_box a:hover{ color:#ef542e;
background:url(../images/arrow-hover.png) no-repeat right 6px;}

.hobby_frnd_box{ padding:0px;
margin:0px;
float:right;}

.hobby_frnd_box a{font-family: 'open_sansregular';
font-size:15px;
border:1px solid #acaaaa;
padding:7px 12px;
text-align:center;
text-decoration:none;
color:#494949;}

.hobby_frnd_box a:hover{text-decoration:none;
 border:1px solid #ef542e;
 color:#ef542e;}
 
/*hobby_page****************/

#hobby_description_box{ padding:60px 0px 0px 0px;}

.hobby_description_page{ padding:15px 15px 0px 15px;
background:#fcfbf9;
border:1px solid #dad8d8;
margin-bottom:20px;}

.edit_description{ padding:0px;
margin:0px;
float:right;}

.edit_description a{ text-decoration:none;
color:#444343;
 font-family: 'open_sansregular';}

.edit_description a:hover{ color:#ef542e;}

.hobby_description_page h3{ padding-bottom:8px;}

.hobby_description_page p{ padding-bottom:20px;}

#related_hobby{ padding:60px 0px;
margin:0px;}

.related_hobby_bttn{ padding:0px;
margin:0px;}

.caraousel_sec{ padding:0px;
margin:0px;}

.news_box{ padding:0px;
margin:0px;
position:relative;}

.news_box_contt{ position:absolute;
bottom:0;
left:0;
right:0;
background:rgba(0,0,0,0.7);
width:69%;
padding:7px 10px;}

.news_box_contt p{ color:#FFF;
padding:0px;
text-transform:uppercase;}

p.error {
    font-size: 15px;
    margin: 0px 0px 10px 0px;
    color: rgba(255, 28, 0, 0.74);
}
#mute-unmute {
    background: url("../img/mute.png") no-repeat;
    width: 160px;
    height: 20vh;
    cursor: pointer;
    position: absolute;
    left: 43%;
    top: 11vh;
    background-size: 100% !important;
    background-position: center !important;
}


#play-pause {
    background: url("../img/pause.png") no-repeat;
    width: 50px;
    height: 56px;
    display: none;
    background-size: 100% auto;
    background-position: center;
    cursor: pointer;
    float: left;
    margin: 10px    
}