.margin-tp-10{margin-top: 20px;}

.search-plan .pricing-box {
    padding-bottom: 1.5625rem;
    font-weight: 300;
    background-color: #fcfefe;
    border: 1px solid #eceff3;
}

.search-plan .card {
    position: relative;
    display: block;
    margin-bottom: 0.75rem;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 0.25rem;
    text-align: center;
}

.card-header {
    padding: 0.75rem 1.25rem;}

.search-plan .pricing-box .card-header {
    padding-top: 1.1rem;
    padding-bottom: 1.1rem;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.1538;
    background-color: #eceff3;
    border-bottom: 0 none; 
    text-align: center;
}

.search-plan .pricing-box .card-block {
    padding: 1rem;
}

.search-plan .pricing-box .card-text {
    font-size: 0.9rem;
    font-weight: 300;
}

.search-plan .pricing-box .pricing-box-currency {
    top: -1.5rem;
    margin-right: -1rem;
    font-size: 1.75rem;
    font-weight: 400;
    letter-spacing: .75rem;
    font-family: "Lato",sans-serif;
}

.search-plan .pricing-box-price {
    font-size: 4.25rem;
    font-weight: 700;
}

.search-plan .pricing-box h4 small {
    font-size: .8125rem;
    font-weight: 600;
    line-height: 1.1538;
    color: #aeb0b5;
}

.search-plan .btn {
    padding: 1.4rem 2.125rem 1.3rem;
    font-size:1.2rem;
    line-height: 1.1538;
    text-transform: uppercase;
    letter-spacing: .1rem;
    border-width: 1px;
}

.search-plan .btn-primary-outline {
    color: #18a689;
    background-image: none;
    background-color: transparent;
    border-color: #18a689;
}

.search-plan .btn:hover{
	color: #fff;
	background-color: #18a689;

};