/**
 * CSS style for carouselTicker
 **/
.carouselTicker {
    display: none;
}
.carouselTicker__list{
    padding: 0;
    list-style-type: none;
    overflow: hidden;
}

.carouselTicker__item{
    margin: 5px;
    float: left;
    width: 100px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    padding: 5px;
    box-shadow: 1px 1px 9px -1px grey;
    overflow: hidden;
}

.carouselTicker__loader{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #fff url("../images/loader.gif") center center no-repeat;
}

/**
 * CSS style for vertical direction
 **/

.carouselTicker_vertical .carouselTicker__list{
    margin: 0;
}

.carouselTicker_vertical .carouselTicker__item{
    margin: 0 0 5px 0;
    border: 2px solid red;
    width: 100px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}


#carouselTicker .carouselTicker__item {
    width: 150px;
    height: 150px;
    line-height: normal;
}

#carouselTicker2 .carouselTicker__item {
    width:250px;
    height: 150px;
    line-height: normal;
    /*color: #fff !important;
    background: #ef542e;*/ 
}

.carouselTicker__item img {
    vertical-align: top;
}