.clearfix {
  clear: both;
  float:left;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.displayON {visibility: visible;}
.displayOFF {visibility: hidden;}

.displayBlockON {display: block;}
.displayBlockOFF {display: none;}

.flex-center-wrapper  {
  display: flex;
  display: -webkit-flex;
  align-content: center;
  -webkit-alight-content: center;
  justify-content: center;
  -webkit-justify-content: center;
  flex-direction: column;
  -webkit-flex-direction: column;
}

.unselected {
  color: rgb(180,180,180);
}

/*h1,
h2,
h3 {
  font-family: Lato;
  color: rgb(120,120,120);
  font-weight: 300;
  letter-spacing:2px;
  text-align: center;
  line-height: 1.4;
}

h1 {font-size: 32px;}
h2 {font-size: 28px;}
h3 {font-size: 24px;}

p,
a,
strong {
  font-family: Lato;
  color: rgb(160,160,160);
  font-weight: 300;
  letter-spacing: 0.8px;
  font-size: 18px;
  line-height: 1.5;
}

a, a:hover, a:focus {
  text-decoration: none;
}*/

.center-text {
  text-align: center;
  max-width: 700px;
  margin: auto;
  padding: 30px;
  text-align: center;
  margin-top:0;
  margin-bottom: 30px;
}


hr {
 /*color: rgba(50, 199, 255, 1);*/
 color: #69c458;
 border:1px;
 border-style: solid none none none;
}


hr.relative-width {width: 0%;}

/* ======================================
MY LIFE
================================= */

#mylife-div {
 background-color: rgba(124, 82, 224, 0.02);
}

.toggler-option {
  cursor:pointer;
  transition: color 1s;
}

#toggler {
  text-align: center;
  display: flex;
  display: -webkit-flex;
  align-items: center ;
  -webkit-align-items: center;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  height: 20%;
  max-width: 650px;
  margin:auto;
}

#toggler div {

  width:200px;
}

#toggler hr {
  transition: width 0.5s ease-out;
  -webkit-transition: width 0.5s ease-out;
  -o-transition: width 0.5s ease-out;
  -moz-transition: width 0.5s ease-out;
  width: 0px;
}

#work
{
  position:relative;
}

.life-section {
  /*position:absolute;*/
  min-width: 200px;
  right:0;
  left:0;
  top:0;
  margin:auto;
}

/*===================================================
Abilities
====================================================*/



#skills-list-wrapper {
  min-height: inherit;
}




/* =====================
Media Queries
======================== */

@media (max-width: 480px){

  h1 {font-size: 28px;}
  #headline h1 {font-size: 36px;}
  h2 {font-size: 18px;}
  a, p, strong {font-size: 16px;}

}


@media (max-width: 1024px) {

  #abs-half-2 {display: none;}
  #abs-half-1 {width: 100%;}

}