/* Preload images */
body:after {
  content: url(../images/close.png) url(../images/loading.gif) url(../images/prev.png) url(../images/next.png);
  display: none;
}

body.lb-disable-scrolling {
  overflow: hidden;
}

.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: none;
}

.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal;
}

.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit;
  border-radius: 3px;
}

.lightbox a img {
  border: none;
}

.lb-outerContainer {
  position: relative;
  background-color: white;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border-radius: 4px;
}

.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-container {
  padding: 4px;
}

.lb-loader {
  position: absolute;
  top: 43%;
  left: 0;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url(../images/loading.gif) no-repeat;
}

.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.lb-container > .nav {
  left: 0;
}

.lb-nav a {
  outline: none;
  background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
}

.lb-prev, .lb-next {
  height: 100%;
  cursor: pointer;
  display: block;
}

.lb-nav a.lb-prev {
  width: 34%;
  left: 0;
  float: left;
  background: url(../images/prev.png) left 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.lb-nav a.lb-prev:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-nav a.lb-next {
  width: 64%;
  right: 0;
  float: right;
  background: url(../images/next.png) right 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.lb-nav a.lb-next:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-data {
  padding: 0 4px;
  color: #ccc;
}

.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}

.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}

.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999999;
}

.lb-data .lb-close {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  background: url(../images/close.png) top right no-repeat;
  text-align: right;
  outline: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

@import url(http://fonts.googleapis.com/css?family=Roboto:300,400);
@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
.toasts {
  bottom: 1em;
  left: 1em;
  position: fixed;
}
.toasts .floatingText {
  background-color: #212121;
  border-radius: 0.19em;
  color: #FFF;
  display: inherit;
  font-family: 'Roboto';
  font-size: 0.8em;
  font-weight: 300;
  min-width: 15em;
  padding: 1em 2em;
  position: relative;
  text-align: left;
}

.floatingContainer {
  bottom: 2em;
  position: fixed;
  right: 2em;
  z-index: 9;
}
.floatingContainer:hover .subActionButton {
  transition: opacity 1.2s;
}
.floatingContainer:hover .subActionButton + .subActionButton {
  transition: opacity 0.8s;
}
.floatingContainer:hover .subActionButton + .subActionButton + .subActionButton {
  transition: opacity 0.4s;
}

.actionButton {
  background-color: #dc4622;
  border-radius: 50%;
  height: 4.2em;
  position: relative;
  width: 4.2em;
  z-index: 1000;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
}
.actionButton .floatingText {
  color: #FFF;
  display: none;
  font-family: 'Roboto';
  position: absolute;
  top: 1.2em;
  right: 4.5em;
  min-width: 10em;
  text-align: right;
}
.actionButton .floatingText.show {
  display: inherit;
}
.actionButton .floatingTextBG {
  padding: 0.2em 0.5em;
  background-color: rgba(33, 33, 33, 0.8);
  border-radius: .3em;
}
.actionButton.display {
  display: inherit;
}
.actionButton:before {
  content: '\f067';
  color: #FFF;
  position: absolute;
  margin-top: 0.9em;
  margin-left: 1.1em;
  opacity: 1;
  font-size: 1.4em;
  font-weight: 400;
  font-family: 'FontAwesome';
  transform: rotate3d(0, 0, 1, -180deg);
  transition: content 0.4s, transform 0.4s, opacity 0.2s;
}
.actionButton:after {
  content: '\f044';
  color: #FFF;
  position: absolute;
  margin-top: 0.9em;
  margin-left: 1.1em;
  font-size: 1.4em;
  font-weight: 400;
  opacity: 0;
  font-family: 'FontAwesome';
  transform: rotate3d(0, 0, 1, -180deg);
  transition: content 0.4s, transform 0.4s, opacity 0.4s;
}
.actionButton.open::before {
  transform: rotate3d(0, 0, 1, 0deg);
  opacity: 0;
}
.actionButton.open::after {
  transform: rotate3d(0, 0, 1, 0deg);
  opacity: 1;
}
.actionButton:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.14), 0 8px 16px rgba(0, 0, 0, 0.28);
}

.subActionButton {
  background-color: #ef542e;
  height: 3em;
  width: 3em;
  border-radius: 50%;
  margin-bottom: .6em;
  margin-left: .5em;
  opacity: 0;
  position: relative;
  z-index: 1000;
}
.subActionButton .floatingText {
  position: absolute;
  top: 0.7em;
  right: 3.2em;
  min-width: 10em;
  font-family: 'Roboto';
  color: #FFF;
  text-align: right;
  opacity: 0;
  transition: opacity 0.4s;
}
.subActionButton .floatingText.show {
  opacity: 1;
}
.subActionButton .floatingTextBG {
  padding: 0.2em 0.5em;
  background-color: rgba(33, 33, 33, 0.8);
  border-radius: .3em;
}
.subActionButton.display {
  opacity: 1;
}
.subActionButton:before {
  margin-top: .4em;
  margin-left: .45em;
  font-size: 1.2em;
  font-family: 'FontAwesome';
  position: absolute;
  color: #FFF;
}
.subActionButton.person:before {
  content: '\f0c0';
  margin-top: .7em;
  margin-left: .7em;
}
.subActionButton.mapMarker:before {
  content: '\f041';
  margin-top: .4em;
  margin-left: .55em;
}
.subActionButton.note:before {
  content: '\f044';
  margin-top: .4em;
  margin-left: .45em;
}
.subActionButton:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.14), 0 8px 16px rgba(0, 0, 0, 0.28);
}
.frndlist {
    max-height: 200px;
    overflow-y: scroll;
}
.friendListHiddenDiv {
    position: fixed;
    width: 89px;
    right: -89px;
    bottom: 11em;
    border: 2px solid #f1f1f1;
    box-shadow: 0px 3px 2px 2px rgba(0, 0, 0, 0.3);
    background: white;
    padding: 9px;
    z-index: 9;
}
.friendListHiddenDiv img{
    width: 50px;
    height: 50px;
    margin-top: 9px;
}
.friendListHiddenDiv .close, .friendListHiddenDiv .open {
    position: absolute;
    top: 0px;
    left: -19px;
    background: white;
    width: 17px;
    color: white;
    z-index: 9;
    padding: 4px;
    border: none;
    outline: 0;
}


.friendListHiddenDiv .open{
  left: -52px !important;
}