@charset "utf-8";

/* CSS Document */

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

/*********font-family: 'Montserrat', sans-serif;*******/

div, span, a, p, tr, td, ul, li, ol, h1, h2, h3, h4, h5, h6, header, footer, section, artical { margin:0; padding:0;}

a, a:hover {

	text-decoration:none;	

}

img { border:none; max-width:100%;}

body {

	font-family: 'Montserrat', sans-serif;

	background:#fff;

	color:#272627;

	font-size:16px;	

	margin:0;

	padding:0;

	font-weight:400;

}

.container.new_profile {

	max-width:1170px;

	position:relative;

	margin:0 auto;	

}

.new_profile .wrapper {

	width:100%;	

}





.new_profile .passion h2 {

	font-weight: 400;

	font-size: 40px;

	color: #272627;

	background: url(../img/hr.png) no-repeat center bottom;

    text-align: center;

    padding: 0 0 25px 0;

    margin-bottom: 15px;

}

.new_profile .passion h3 {

	font-weight: 400;

	font-size: 21px;

	color: #595759;

    text-align: center;

    padding-bottom: 18px;

}

.new_profile .passion h4 {

    font-weight: 400;

    font-size: 16px;

    color: #fff;

	background: #f1511b;

    text-align: center;

    border: 1px solid #adacad;

    width: 50%;

    margin: 0 auto;

    padding: 8px 0px;

    border-radius: 11px;

    margin-bottom: 10px;

}

.new_profile .passion-top {

    text-align: center;

    -webkit-box-shadow: 0px 0px 1px 0px rgba(50, 50, 50, 0.75);

    -moz-box-shadow: 0px 0px 1px 0px rgba(50, 50, 50, 0.75);

    box-shadow: 0px 0px 1px 0px rgba(50, 50, 50, 0.75);

    width: 238px;

    height: 238px;

    vertical-align: middle;

    box-sizing: border-box;

    padding: 73px 0;

    border-radius: 50%;

    margin: 0 auto;

}

.new_profile .passion-btm {

	text-align: center;

	width: 100%;

	box-sizing:border-box;

	padding: 28px 8px;

	color: #272627;

}

.new_profile .passion-btm h5 {

	font-weight: 400;

	font-size: 24px;

	color: #272627;

	background: url(../img/hr-h5.png) no-repeat center bottom;

	text-transform: uppercase;

    padding-bottom: 10px;

    margin-bottom: 16px;

}

.new_profile .passion-itm:hover .passion-btm h5 {

	background: url(../img/hr-h5-hvr.png) no-repeat center bottom;

}

.new_profile .passion-itm {

    margin-top: 52px;

}

.new_profile .network {

	background: url(../img/networking.png) no-repeat center center;

	background-size: cover;

	background-attachment: fixed;

	width: 100%;

	padding: 63px 0 95px;

	color: #636363;

	font-size: 17px;

	font-weight: 400;

}

.new_profile .network h2 {

	color: #f1511b;

	font-size: 33px;

	font-weight: 400;

	text-transform: uppercase;

	padding-bottom: 23px;

}

.new_profile .network p {

	padding-bottom: 30px;

}

.new_profile .network-btn {

	font-weight: 400;

	color: #fff;

	font-size: 24px;

	background: #f1511b;

	border:none;

	border-radius: 0;

}

.new_profile .get-net {

	background: url(../img/get-net.png) no-repeat center center;

	background-size: cover;

	background-attachment: fixed;

	padding: 73px 0 51px;

	width: 100%;

	text-align: center;

}

.new_profile .get-net h2 {

	font-weight: 400;

	font-size: 42px;

	color: #fff;

	background: url(../img/white-hr.png) no-repeat center bottom;

    padding: 0 0 25px 0;

    margin-bottom: 85px;

    text-transform: uppercase;

}

.new_profile .join-click {

    background: rgba(0, 0, 0, 0.53) !important;

    border: 2px solid #fff !important;

    border-radius: 0;

    font-weight: 400;

    font-size: 24px;

    text-transform: uppercase;

}

.new_profile .home-galary {

	width: 100%;

	padding: 51px 0;

}

.new_profile .home-galary h2{

	font-size: 40px;

	margin-bottom: 51px;

	font-weight: 400;

	color: #272627;

	text-transform: uppercase;

	text-align: center;

    padding: 0 0 25px 0;

    background: url(../img/hr-h5-hvr.png) no-repeat center bottom;

}

.new_profile .hobby-prfl h2{

    text-align: center;

    padding: 0 0 25px 0;

    font-weight: 400;

    font-size: 40px;

    background: url(../img/hr-h5-hvr.png) no-repeat center bottom;

}

.new_profile .clearfix{

    clear:both;

    float: none;

}

.new_profile .thumbnail {

    position:relative;

    overflow:hidden;

    margin-left: -15px;

    margin-right: -15px;

    border: none;

    padding: 0 !important;

    border-radius: 0 !important;

    margin-bottom: 0 !important;

    width: auto;

}

 

.new_profile .caption {

    position:absolute;

    top:0;

    right:0;

    background:rgba(10, 10, 10, 0.66);

    width:100%;

    height:100%;

    padding:2%;

    display: none;

    text-align:center;

    color:#fff !important;

    z-index:2;

}

.new_profile .caption p {   
    font-size: 22px;
    font-weight: 400;
    padding-bottom: 27px;
    margin-top: -19px;
    position: relative;
    top: 50%;
}

.new_profile .caption img {

    width: 38%;

}

.new_profile .tab-fnctn ul li {

    float: left;

}

.new_profile .tab-fnctn ul li.active a {

    background: #f05424 !important;

    border: none;

    border-color: transparent;

    color: #fff;

    border-radius: 26px;

}



.new_profile .prfl-page section {

    height: auto !important;

    float: left;

    display: block;

}



.new_profile .about  {

    width: 100%;

    padding:67px 0;

}

.new_profile .about h2 {

	background:url(../img/hr-h5-hvr.png) no-repeat center bottom !important;

    margin-top: 50px;	

}

.new_profile .passion.about h3 {

    font-weight: 400;

    font-size: 18px;

    color: #535252;

    text-align: center;

    padding-bottom: 18px;

    line-height: 24px;

    cursor: pointer;

}
#hobby-1{
    margin-top: 30px;
}
.new_profile .tab-glry .thumbnail {
	margin-left:0 !important;
	margin-right:0 !important;
	padding:0px !important;	
    float: left;
    width: 100% !important;
    margin-bottom: 20px !important;
}
.new_profile .tab-glry .thumbnail img{
    height: 220px;
}

.new_profile .tab-glry .caption img {

    width: 20%;

    margin-top: 55px;

    margin-bottom: 10px;

}

.new_profile .tab-fnctn .nav-tabs>li>a {

	color:#282828;

	font-size:18px;

	font-weight:400;	

}



.new_profile .tab-fnctn .nav-tabs {

    border-bottom: 1px solid #fff;

}

.new_profile .tab-fnctn ul li a {

    background: none !important;

	border:none !important;

}

.new_profile .tab-fnctn ul li a.active {

    background: #f05424 !important;

    border: none;

    border-color: transparent;

    color: #fff;

    border-radius: 26px;

}

.new_profile .tab-fnctn ul li.active a:focus {

	color:#fff;	

}

.new_profile .tab-fnctn ul {

    width: 50%;

    margin: 81px auto;

}

.new_profile .community-prfl h2 {

    font-weight: 400;

    font-size: 40px;

    color: #272627;

    background:url(../img/hr-h5-hvr.png) no-repeat center bottom ;

    text-align: center;

    padding: 19px 0 25px 0;

    margin-bottom: 36px;

}

.new_profile .community-prfl {

	width:100%;

	padding:25px 0 0;	

}

.new_profile .community-btm {

    width: 100%;

    background: url(../img/community-bg.jpg) center center no-repeat;

    /* background-attachment: fixed; */

    padding: 94px 0 249px;

    background-size: cover;

}

.new_profile .community-itm {

	text-align:center;
	color:#fff;
	font-size:14px;
	text-transform:uppercase;
	display:inline-block;

}
.new_profile .community-itm img{
	width:200px;
	height:170px;
	}

.new_profile .img-border {

	border:3px solid #f9967c;

	margin-bottom:17px;	

}

.new_profile .frnd {

	width:100%;

	padding:55px 0;	

}

.new_profile .frnd h2 {

    font-weight: 400;

    font-size: 40px;

    color: #272627;

    background: url(../img/hr-h5-hvr.png) no-repeat center bottom;

    text-align: center;

    padding: 0 0 25px 0;

    margin-bottom: 57px;

	text-transform:uppercase;

}

.new_profile .frnd-border {

	-webkit-box-shadow: 0px 0px 18px 0px rgba(50, 50, 50, 0.75);

-moz-box-shadow:    0px 0px 18px 0px rgba(50, 50, 50, 0.75);

box-shadow:         0px 0px 18px 0px rgba(50, 50, 50, 0.75);

	border:4px solid #fff;

	margin-bottom:20px;	

    width: 208px;

    height: 208px;

}

.new_profile .frnds-itm p {

	color:#282828;

	font-size:14px;

	font-weight:400;	

}

.new_profile .frnds-itm {

	width:20%;

	float:left;

	margin-bottom:20px;

	text-align:center;	

}

.new_profile .post-section {

	width:100%;

	padding:85px 0 125px;	

}

.new_profile .post-section h2 {

    font-weight: 400;

    font-size: 40px;

    color: #272627;

    background: url(../img/hr-h5-hvr.png) no-repeat center bottom;

    text-align: center;

    padding: 0 0 25px 0;

    margin-bottom: 57px;

	text-transform:uppercase;

}

.new_profile .post-area {

	width:100%;

	box-sizing:border-box;

	padding:21px 15px 30px;

	background:#e5e5e5;	

}

.new_profile h6.post-name {

    color: #282828;

    font-size: 15px;

    font-weight: 700;

	margin-bottom:5px;

}

.new_profile p.post-date {

    background: #f05424;

    display: initial;

    padding: 2px 10px;

    color: #fff;

    font-size: 14px;

}

.new_profile .posted-img {

    padding: 10px 5px 10px 15px;

    text-align: center;

}

.new_profile .cmnt {

    width: 100%;

    padding: 0;

    box-sizing: border-box;

}

.new_profile input#cmnt {

    width: 100%;

    border-radius: 0;

}

.new_profile post-section .form-inline {

	position:relative;	

}

.new_profile .cmnt-submit {

    position: absolute;

    right: 16px;

    top: 0;

}

.new_profile input.cmnt-btn {

    background: url(../img/note.png) no-repeat center center;

    width: 32px;

    height: 32px;

    background-size: 100%;

    border: none;

}

.new_profile img.post-cmnt-img {

    width: 43px;

    margin-right: 10px;

    display: initial;

	float:left;

}

.new_profile .post-cmnt {

	margin-top:15px;	

}

.new_profile p.cmnt-txt {

    color: #062140;

    font-size: 15px;

}

.new_profile p.cmnt-name {

    color: #282828;

    font-size: 13px;

}

.new_profile span.cmnt-time {

    color: #737070;

    font-size: 11px;

}

.new_profile .top-prfl {

	color:#fff;

}
.new_profile .fixed {
    position: fixed;
    top:58px;; 
	left:0;
    width: 100%;
	z-index:99;
	background:#fff;
}

.new_profile .fixed ul {

    padding: 0;

    margin: 12px auto;

}



@media only screen and (min-width: 320px) and (max-width: 359px) {

.new_profile .passion h2 {

    font-size: 24px;

}

.new_profile .passion h3 {

    font-size: 16px;

}

.new_profile .passion h4 {

    width: 97%;

}



.new_profile .home-galary h2 {

    font-size: 27px;

}



.new_profile .tab-fnctn ul {

    width: 100%;

    margin: 51px auto;

}

.new_profile .tab-fnctn .nav-tabs>li {

    float: none;

}

.new_profile .frnds-itm {

    width: 100%;

    float: none;

}

.new_profile .posted-img {

    min-height: 114px;

}



.new_profile .fixed {

    top: 0;

}

.new_profile .tab-fnctn ul li {

    float: none;

}

.new_profile .tab-fnctn ul {

    margin: 3px auto;

}

}

@media only screen and (min-width: 360px) and (max-width: 479px) {

.passion h2 {

    font-size: 24px;

}

.new_profile .passion h3 {

    font-size: 16px;

}

.new_profile .passion h4 {

    width: 97%;

}



.new_profile .home-galary h2 {

    font-size: 27px;

}







.new_profile .tab-fnctn ul {

    width: 100%;

    margin: 51px auto;

}

.new_profile .tab-fnctn .nav-tabs>li {

    float: none;

}

.new_profile .frnds-itm {

    width: 100%;

    float: none;

}

.new_profile .posted-img {

    min-height:132px;

}



.new_profile .fixed {

    top: 69px;

}

.new_profile .tab-fnctn ul li {

    float: left !important;

}

.new_profile .tab-fnctn ul {

    margin: 3px auto;

}

}

@media only screen and (min-width: 480px) and (max-width: 639px) {

.new_profile .passion h2 {

    font-size: 24px;

}

.new_profile .passion h3 {

    font-size: 16px;

}

.new_profile .passion h4 {

    width: 97%;

}





.new_profile .home-galary h2 {

    font-size: 27px;

}

/*************/



.new_profile .tab-fnctn ul {

    width: 100%;

    margin: 51px auto;

}

.new_profile .tab-fnctn .nav-tabs>li {

    float: none;

}

.new_profile .frnds-itm {

    width: 100%;

    float: none;

}

.new_profile .posted-img {

    min-height:179px;

}



.new_profile .fixed {

    left: 0;

    position: absolute;

    top: 69px;

}

.new_profile .tab-fnctn ul li {

    float: none;

}

.new_profile .tab-fnctn ul {

    margin: 3px auto;

}

}

@media only screen and (min-width: 481px) and (max-width: 767px) {

.new_profile .tab-glry {

    width: 358px;

    float: none;

    margin: 0 auto;

}

}

@media only screen and (min-width: 640px) and (max-width: 767px) {



.new_profile .about {

    padding: 93px 0 67px;

    width: 100%;

}

.new_profile .tab-fnctn ul {

    width: 100%;

}

.new_profile .frnds-itm {

    width: 50%;

}

.new_profile .posted-img {

    min-height: 231px;

}



.new_profile .fixed {

    top: 69px;

}



.new_profile .tab-fnctn ul {

    margin: 3px auto;

}	

}

@media only screen and (min-width: 768px) and (max-width: 991px) {



.new_profile .about {

    padding: 93px 0 67px;

    width: 100%;

}

.new_profile .tab-fnctn ul {

    width: 100%;

}

.new_profile .frnds-itm {

    width: 50%;

}

.new_profile .posted-img {

    min-height: 231px;

}

.new_profile .community-btm {

    background-attachment: initial;

}

}



	

}

@media only screen and (min-width: 1024px) and (max-width: 1259px) {

.new_profile .tab-fnctn ul {

    width: 66%;

}

.new_profile .frnds-itm {

    padding: 0 15px;

}



}


.new_profile .fixed{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.new_profile .fixed ul li a{
    padding: 5px 15px !important;
    font-size: 14px !important;
}