@charset "utf-8";
/* CSS Document */
* {
	margin: 0;
	padding: 0;
}
body {
	background: #fff;
	font-size: 14px;
	font-family: 'Lato', sans-serif;
	color: #000;
}
span.editable input {
    background: none;
    outline: 0;
    border: none;
    text-align: center;
}
@media (min-width: 768px){
	.navbar-header {
	    float: left;
	    display: none;
	}
	header .container-fluid {
	    margin-left: 40px;
	}
}
.removeHobby {
    display: none;
    position: absolute;
    margin-top: -8px;
}
.fl {
	float: left!important;
}
.fr {
	float: right!important;
}
.pddng5 {
	padding: 5%;
}
.mrgnBttm5 {
	margin-bottom: 5%;
}
.imgBoder {
	/*border: 2px solid #f1f1f1;
	box-shadow: 0px 3px 2px 2px rgba(0, 0, 0, 0.3);*/
	background-position: center center;
	/*-webkit-border-radius: 99em;
	-moz-border-radius: 99em;*/
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
.imgBoderGreen { /*border:2px solid #69c458;*/
	border: 2px solid #f1f1f1;
	box-shadow: 0px 3px 2px 2px rgba(0, 0, 0, 0.3);
	background-position: center center;
	-webkit-border-radius: 99em;
	-moz-border-radius: 99em;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
.boxBorder {
	border: 1px solid #f1f1f1;
	border-radius: 4px
}
a {
	transition: 2s;
}
.userCover {
	background: url(../img/coverpic.jpg) no-repeat top center;
}
.userCover2 {
	background: url(../img/coverpic.jpg) no-repeat top center;
}
#wrapper {
	margin-top:70px;
	padding-left: 0;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	overflow: hidden;
}
#wrapper.toggled {
	padding-left: 250px;
	overflow: scroll;
}
#sidebar-wrapper {
	z-index: 1000;
	position: fixed;
	left: 250px;
	width: 0;
	height: 100%;
	margin-left: -250px;
	overflow-y: auto;
	background:#f1f1f1;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
#wrapper.toggled #sidebar-wrapper {
	width: 250px;
}
#page-content-wrapper {
	position: relative;
	min-height: 85.3vh;
	width: 100%;
	overflow-x: hidden;
}
.xyz {
	min-width: 360px;
}
#wrapper.toggled #page-content-wrapper {
	position: relative;
	margin-right: 0px;
}
.fixed-brand {
	width: auto;
}
/* Sidebar Styles */
nav .navbar-collapse.collapse {
	float: left;
}
nav.navbar-default {
	background: #69c458;
	border: none;
	border-radius: 0;
}
nav .navbar-header a.navbar-brand {
	color: #fff;
	text-transform: uppercase;
}
nav .fa {
	color: #fff;
	font-size: 18px;
}
nav .fa-i {
	color: #000;
	font-size: 18px;
}
nav.navbar-default .navbar-toggle {
	border: none;
}
nav.navbar-default .navbar-toggle:focus, nav.navbar-default .navbar-toggle:hover {
	background: none;
}
nav.navbar-default a.navbar-brand:focus, nav.navbar-default a.navbar-brand:hover {
	color: #fff;
	background-color: transparent;
}
ul.nav-pills>li.active>a, ul.nav-pills>li.active>a:focus, ul.nav-pills>li.active>a:hover {
	color: #fff;
	background-color: #009688;
}
ul.nav-pills>li>a {
	border-radius: 0px;
}
ul.sidebar-nav li a:hover {
	/*border-left: white 2px solid;*/
}
.sidebar-nav {
	position: absolute;
	top: 0;
	width: 250px;
	margin: 0;
	padding: 0;
	list-style: none;
	margin-top: 2px;
}
.sidebar-nav li {
	text-indent: 15px;
	line-height: 40px;
}
.sidebar-nav li a {
	display: block;
	text-decoration: none;
	color:rgba(88, 86, 86, 0.87);
	font-weight: 700;
}
.sidebar-nav li a:hover {
	text-decoration: none;
	color: #EF542E;
	background: rgba(113, 113, 113, 0.2);
	border-left:2px solid #EF542E;
}
.sidebar-nav li a:active, .sidebar-nav li a:focus {
	text-decoration: none;
}
.sidebar-nav > .sidebar-brand {
	height: 65px;
	font-size: 18px;
	line-height: 60px;
}
.sidebar-nav > .sidebar-brand a {
	color: #999999;
}
.sidebar-nav > .sidebar-brand a:hover {
	color: #fff;
	background: none;
}
.no-margin {
	margin: 0;
}
/***body starts here***/
.bgOff {
	/*background: url(../img/pop_bg.jpg) no-repeat center center #000;*/
	background: #501212;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.coverPage .mdlBlock {
	background: none;
}
.mdlBlock {
	margin: 1% auto;
	float: none;
	padding: 15px;
	background: #fff;
	border-radius: 2px;
}
.mdlBlock h1 {
	    font-size: 18px;
    color: #ef542e;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    text-align: center;
    /* margin-left: 359px; */
}
.mdlBlock h5 {
	font-size: 16px;
	text-transform: uppercase;
	color: #00665c;
	margin-bottom: 20px;
	line-height: 22px;
}
#hobbies_grid .pro_block h5{ margin-bottom:6px;}
.mdlBlock p {
	font-size: 14px;
	/*color: #fff;*/
	font-weight: normal;
	text-transform: capitalize;
	font-family: 'Lato', sans-serif;
	margin: 0 0 6px;
}
.mdlBlock p a {
	font-size: 14px;
	color:#4c4c4c;
	font-weight: normal;
	text-transform: capitalize;
	font-family: 'Lato', sans-serif;
	transition: 2s;
}
.mdlBlock p a i {
	margin-left: 1%;
}
.mdlBlock p a:hover {
	text-decoration: none;
	color: #69c458;
}
.addhbby{ margin-bottom:2%;}
.leftArrow {
    float: left;
    font-size: 15px;
    box-shadow: 1px 1px 6px -2px grey;
    border: solid 1px silver;
    border-radius: 3px;
    text-align: center;
	margin-top: 6%;
}
.rightArrow {
    float: right;
    margin-top: 6%;
    /* margin-left: 0px; */
    font-size: 15px;
    box-shadow: 1px 1px 6px -2px grey;
    border: solid 1px silver;
    border-radius: 3px;
        text-align: center;
}
#dragandrophandler {
	border: 2px dotted #0B85A1;
	width: 400px;
	color: #92AAB0;
	text-align: left;
	vertical-align: middle;
	padding: 10px 10px 10 10px;
	margin-bottom: 10px;
	font-size: 200%;
}
#search_grid .pro_block img {
    width: 182px;
    height: 182px;
}
/***search box starts here***/
#custom-search-input {
    /*padding: 2px 15px;
    border: 1px solid #fff;
    border-radius: 37px;
    background-color: #fff;
    margin-bottom: 15px;*/
    box-shadow: 1px 1px 12px -3px grey;
}
#custom-search-input input {
	border: 0;
	box-shadow: none;
}
#custom-search-input .input-group input.input-lg {
	height: auto;
	padding: 8px 16px;
	font-size: 14px;
	width: 100%;
	background: rgba(239, 84, 46, 0.25);
}
.searchBtn{
	width: 5%;
	padding-top: 3px;
}
.selectSearchType{
	width: 12%;
    float: left;
    margin-top: 6px;
    border: none;
}
.selectSearchType:focus {
    border: none;
    outline: none;
}
.no_border_select {
	border: none;
}
.no_border_select:focus {
	border: none;
	outline: none;
}
#custom-search-input fa {
	transition: 2s;
}
#custom-search-input .fa-search:hover {
	color: green;
}
#custom-search-input button {
	margin: 2px 0 0 0;
	background: none;
	box-shadow: none;
	border: 0;
	color: #666666;
	padding: 0 8px 0 10px;
	border-left: solid 1px #ccc;
}
#custom-search-input button:hover {
	border: 0;
	box-shadow: none;
	border-left: solid 1px #ccc;
}
#custom-search-input .glyphicon-search {
	font-size: 23px;
}
/***search box ends here***/
.pro_block {
	border: 1px solid #e5e5e5;
	text-align: center;
	border-radius: 4px;
	margin-bottom: 30px;
	float: left;
	background: #9c9c9c;
}
.pro_block img {
	border-top-right-radius: 4px;
	border-top-top-radius: 4px;
}
.pro_block h5 {
	text-transform: uppercase;
    font-weight: lighter;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    padding: 7px 15px;
    line-height: 20px;
    color: #f1f1f1;
    font-weight: 700;
    background: #ef542e;
}
.pro_block p {
	padding: 0 15px;
}
ul.tag-editor.ui-sortable>li:first-child{ display:none;}
#custom-search-input .meterial_input, #custom-search-input .tag-editor{ margin:0; padding-bottom:12px; border:none; width:100%;}
#custom-search-input ul.tag-editor.ui-sortable>li{ display:inline; margin-bottom:5%;}
.upload_hobby_image_file{ margin-left: 2%;}
#image_preview img#previewing{ width:100%; height:auto;}
ul.userOption li {
    list-style: none;
    display: inline-block;
    padding: 8px 38px 0px;
    /*border: 1px solid #69c458;
    border-radius: 20px;*/
    margin-bottom: 9px;
}
ul.userOption li a {
	font-size: 14px;
	font-family: 'Lato', sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	color: #37474f;
}
ul.userOption li a i {
	margin-right: 6px;
	color: #37474f;
}
.mdlBlock .rightBar {
	border: 1px solid #f1f1f1;
	border-radius: 4px;
	padding: 20px 20px;
	box-shadow: 0px 1px 5px #ededed;
	min-height: 385px;
	
	margin-bottom:10%;
}
.communitiesBlock img {
	/*width: 100px;
	height: 100px;*/
	margin: 0 auto;
}
.communitiesBlock {
	margin-bottom: 15px;
	text-align: center;
}
.communitiesBlock p {
	margin-top: 5px;
}
.communitiesBlock:hover {
	cursor: pointer;
}
.proPic img {
	width: 170px;
	height: 170px;
	position: absolute;
	top: -5px;
	border: 2px solid #f1f1f1;
	box-shadow: 0px 3px 2px 2px rgba(0, 0, 0, 0.3);
	background-position: center center;
	-webkit-border-radius: 99em;
	-moz-border-radius: 99em;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
.proPicBlock {
	padding-top: 100px;
	position: relative;
}
.proPicBlock h4 {
	font-size: 18px;
	font-weight: normal;
	font-family: 'Lato', sans-serif;
	color: #fff;
	margin-top: 70px;
	padding-bottom: 10px;
	text-shadow: 1px 0px 15px rgba(150, 150, 150, 1);
}
ul.shortDetail {
	margin-top: -40px;
	float: right;
}
ul.shortDetail li {
	list-style: none;
	display: inline-block;
	padding: 15px;
	color: #fff;
	text-transform: capitalize;
	font-size: 14px;
	font-family: 'Lato', sans-serif;
}
ul.shortDetail li:first-child {
	padding-left: 0;
}
ul.shortDetail li a {
	border-radius: 25px;
	border:2px solid #ef542e;
	padding: 9px 16px;
	color: #43d854;
	text-transform: uppercase;
}
ul.shortDetail li a:hover, ul.shortDetail li a:active, ul.shortDetail li a:focus {
	text-decoration: none;
	color: #000;
	background: #fff;
	border: 1px solid #fff;
}
ul.hobbies li {
	list-style: none;
	display: inline-block;
	text-align: center;
	padding: 15px;
	vertical-align: middle;
	text-transform: uppercase;
	font-size: 14px;
	color: #5f5f5f;
}
ul.hobbies li img {
	width: 60px;
	height: 60px;
	margin: 0 auto;
}
.latestPostBlock {
	margin-bottom: 20px;
}
.latestPostBlock img {
	height: 88px;
	width: 129px;
}
#page-content-wrapper.userCover {
	background: none;
}
.postedUser img {
	    height: 50px;
    width: 50px;
    margin-right: 1%;
    float: left;
    box-shadow: 1px 2px 4px 0px #656565;
    border: solid 2px rgba(255, 255, 255, 0.53);
}
.postedUser p a {
	font-weight: bold;
}
ul.activity {
	position: absolute;
	margin-top: 6%;
	right: 25px;
	display: none;
}
ul.activity li {
	list-style: none;
	margin-bottom: 30px;
}
ul.activity li a {
	color: #a9a9a9;
	border-radius: 50%;
	padding: 10px 12px;
	background: #fff;
}
ul.activity li a:hover {
	background: #ee5a3f;
	color: #fff;
}
.PostimgHover {
	margin-bottom: 20px;
	width: 100%;
}
.footer {
	background: #ca2801;
	text-align: center;
	color: #fff;
	font-family: 'Lato', sans-serif;
	font-weight: lighter;
	font-size: 12px;
	padding: 20px 0;
}
.footer p {
	margin: 0;
}
/***srch block***/
._4-u2 {
	border: 1px solid;
	border-color: #e5e6e9 #dfe0e4 #d0d1d5;
	border-radius: 3px;
}
._4d6h {
	border-bottom: 1px solid #e5e5e5;
	margin: 0 12px;
	padding: 10px 0 18px 0;
	position: relative;
	z-index: 1;
}
._-h {
	display: inline-block;
	list-style-type: none;
	width: 100%;
	margin-bottom: 0;
}
._1tm3:first-child {
	border-width: 0;
	margin-left: -12px;
}
._1tm3 {
	border-left: 1px solid #e5e5e5;
	display: inline-block;
	padding: 0 6px 0 8px;
	width: 25%;
}
._4-fs {
	display: inline-block;
	padding-left: 21px;
	position: relative;
	width: 100%;
}
._5qtn ._4-h8 {
	display: block;
}
._4-h8 {
	border-bottom: 8px solid #e9ebee;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	bottom: -19px;
	display: none;
	font-size: 0;
	height: 0;
	left: 50%;
	line-height: 0;
	position: absolute;
	width: 0;
}
._4-h8::after {
	border-bottom: 8px solid #fff;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	content: '';
	left: -8px;
	position: absolute;
	top: 1px;
}
._mp3 {
	float: left;
	margin: 12px 0 0 12px;
}
._4bl9 {
	overflow: hidden;
}
._1hx ._3en1 {
	background-color: transparent;
	border: 0;
	box-sizing: border-box;
	display: block;
	font-family: helvetica, arial, sans-serif;
	font-size: 14px;
	height: 100%;
	line-height: 18px;
	min-height: 69px;
	outline: 0;
	padding: 23px 12px 14px;
	resize: none;
	width: 100%;
}
.uiTextareaAutogrow {
	overflow: hidden;
}
._ei_ {
	border-top: 1px solid #e9eaed;
}
._3-8i {
	margin: 8px;
}
._ohf {
	float: right;
}
.rfloat {
	float: right;
}
._ohf button {
	background: #69c458;
	color: #fff;
	padding: 7px 25px;
	border: none;
	font-size: 14px;
	font-weight: normal;
	font-family: 'Lato', sans-serif;
	border-radius: 4px;
}
._1qby .fa {
	float: left;
	margin-right: 5%;
	margin-top: 2%;
}
/***srch block end***/
button.addMore {
	padding: 20px 24px;
	border-radius: 50%;
	font-size: 18px;
	color: #fff;
	background: #009688;
	position: fixed;
	right: 4%;
	bottom: 2%;
	border: none;
	z-index: 1000000;
}
.mdlBlock .modal-content {
	padding: 3% 2% 5% 2%;
}
.mdlBlock .modal-header {
	padding: 0;
	border-bottom: none;
}
.footer {
	background: #ca2801;
	text-align: center;
	color: #fff;
	font-family: 'Lato', sans-serif;
	font-weight: lighter;
	font-size: 12px;
	padding: 20px 0;
}
.footer p {
	margin: 10px 0 0 0; font-size:14px;
}
.footer p a {
	color: #fff;
	text-decoration: none;
}
.footer p a:hover {
	color: #69c458
}
.footer ul.footList {
	margin-bottom: 0;
}
.footer ul.footList li {
	display: inline-block;
	list-style: none;
	border-left: 1px solid #fff;
}
.footer ul.footList li:first-child {
	border-left: none;
}
.footer ul.footList li a {
	color: #fff;
	text-decoration: none;
	padding: 15px; font-size:16px;
}
.footer ul.footList li a:hover {
	color: #c5c5c5
}
.txt h2 {
	font-size: 18px;
	color: #000;
}
ol.flex-control-nav{ display: none; }
.userActivity .nav-tabs>li>a{ 
	font-size: 16px;
    color: #ef542e;
    padding: 10px 35px;
    border: none;
    margin-right: 0; 
    webkit-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}
.userActivity .nav-tabs{
	margin: 0 auto;
    width: 72%;
}
.userActivity .nav-tabs>li.active>a, .userActivity .nav-tabs>li.active>a:focus, .userActivity .nav-tabs>li.active>a:hover{ border: none; border-bottom: 1px solid #ef542e; cursor: pointer; }
.userActivity .nav-tabs>li>a:hover{ cursor: pointer; background: #fff; /*border-bottom:1px solid #ef542e;*/}
.userActivity .nav-tabs{ border-bottom: none; }
.userActivity img{ width: 79px; height: 79px; margin: 0 auto; border: 1px solid #ddd; box-shadow: 0px 4px 11px -2px rgba(0, 0, 0, 0.3); }
.userActivity{ /*text-align: center;*/ }
.userActivity p{  }
.userActvtyBlock{ text-align: center;
 }
.userActvtyBlock a:focus {
    outline: thin dotted;
    outline: 0;
    outline-offset: 0;
}
/*************************************************************************************************/	
	
.hobbies {
	margin-left: 215px;
}
.hobbies p {
	padding-top: 10px;
}
.leftPart {
	border: 1px solid #f1f1f1;
	border-radius: 4px;
	box-shadow: 0 4px 5px #ededed;
	padding: 20px 20px;
	min-height: 385px;
}
.leftPart h2 {
	font-size: 20px;
	color: #6a6a6a;
	width: 50%;
	float: left;
}
.leftPart h5 {
	font-size: 11px;
	font-weight: bold;
	color: #606060;
	text-align: left;
}
.rightBar h5 {
	font-size: 12px;
	font-weight: bold;
	color: #ef542e;
	text-align: center;
	border-bottom: 1px solid #eee;
	padding-bottom: 20px;
	
	margin-top:0;
	
	font-family: "Roboto","Helvetica","Arial",sans-serif;
}
.topPartimage {
	width: 100px;
	height: 100px;
	float: left;
	border-radius: 50%;
	margin-right: 30px;
}
.topPartimage img {
	border-radius: 50%;
	float: left;
	height: 100px;
	width: 100px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	border: 2px solid #f1f1f1;
	box-shadow: 0 3px 2px 2px rgba(0, 0, 0, 0.3);
}
.topPart {
	clear: both;
	float: left;
	margin: 0px 0px 20px 0px;
	padding: 0;
	width: 100%;
}
.midPart {
	clear: both;
	float: left;
	margin: 0;
	padding: 0;
	width: 100%;
}
.topParttext {
	float: left;
	width: 50%;
}
.topParttext h2 {
	width: 100%;
	text-align: left;
	font-size: 24px;
}
.iconSection {
	float: right;
	margin: 14px 0px 0px 0px;
	padding: 0px;
}
.iconSection li {
	list-style-type: none;
	float: left;
}
.iconSection a {
	color: #8b8b8b;
	font-size: 26px;
	padding: 0 0 10px 15px;
}
.iconSection a:hover {
	color: #000;
}
.iconcolr {
	font-size: 18px !important;
	padding-right: 8px;
}
.nameRow {
	float: left;
	width: 100%;
	padding:0px 10px;
	margin: 0px;
}
.nameRow h1 {
	text-align: left;
	color: #fff;
	font-size: 28px;
	padding: 0px;
	margin: 0px;
	width: 30%;
}
/***********************9.6.2016********************************************************/
.headerTop {
	width: auto;
	margin: 0px 0px 0px -253px;
	padding: 0px;
	
}
.headerTopInner {
	margin: 0px auto;
	text-align: center;
	display: block;
	padding: 0px;
	padding: 50px 0px;
}
.headerTopInner p{    
	color: #fff;
    font-size: 20px;
    text-shadow: 2px 3px 6px black;
    text-transform: capitalize;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.headerTopInnerImg {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	border: 2px solid #f1f1f1;
	box-shadow: 0 3px 2px 2px rgba(0, 0, 0, 0.3);
	height: 200px;
	width: 200px;
	border-radius: 50%;
	margin: 0px auto;
	text-align: center;
	display: block;
}
.headerTopInner h1 {
	    text-align: center;
    padding: 20px 0px;
    margin: 0px;
    font-size: 36px;
    color: #000;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 2px 3px 6px black;
}
.headerTopInnerOption {
	margin: 20px 0px;
	padding: 0px;
}
.headerTopInnerOption > li {
	text-decoration: none;
	list-style-type: none;
	display: inline;
	border-left: 1px solid #fff;
}
.headerTopInnerOption > li a {
	font-size: 20px;
	color: #fff;
	padding: 0px 20px;
}
.headerTopInnerOption > li a:hover {
	color: #060;
	text-decoration: none;
}
.headerTopInnerOption > li:first-child {
	border-left: none;
}
.socialIcon {
	margin: 20px 0px;
	padding: 0px;
	pointer-events: none;
}
.socialIcon > li {
	text-decoration: none;
	list-style-type: none;
	display: inline;
}
.socialIcon > li a {
	font-size: 38px;
	color: #fff;
	padding: 0px 10px;
}
.socialIcon > li a:hover {
	color: #060;
	text-decoration: none;
}
.aboutPart {
	width: auto;
	background: #fff;
	/*margin-left: -253px;*/
	padding: 50px 0px;
}
.aboutPart h2 {
	padding: 12px 0px;
    margin: 0px;
    font-size: 36px;
    color: #484848;
    text-transform: uppercase;
    /* text-decoration: underline; 
    border-bottom: solid 1px;
    width: 242px;*/
    text-align: center;
    margin: auto;
}
.aboutPart p {
	text-align: center;
    padding: 10px 0px;
    margin: 0px;
    font-size: 14px;
    color: #444444;
    line-height: 22px;
}
.servicesSection {
	width: auto;
	background: #e1e4e5;
	/*margin-left: -253px;*/
	padding: 50px 0px;
}
.servicesBox {
	margin: 0px auto;
	text-align: center;
	display: block;
	margin: 0px;
	padding: 0px;
}
.boxImg {
	width: 85px;
	height: 85px;
	border-radius: 50%;
	border: 2px solid #333;
	text-align: center;
	display: block;
	margin: 0px auto;
	padding: 0px;
	box-shadow: 0 3px 2px 2px rgba(0, 0, 0, 0.3);
}
.boxImgIcon {
	color: #666;
	display: block !important;
	font-size: 40px !important;
	margin: 0 auto;
	padding: 20px 0;
	text-align: center;
}
.boxText {
	margin: 20px 0px 0px 0px;
}
.boxText h2 {
	color: #333;
	font-size: 18px;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
}
.boxText p {
	text-align: center;
	font-size: 14px;
	line-height: 20px;
}
.parallax {
	position: relative;/*margin:1000px auto;*/
	/*width: 100%;*/
	padding:110px 0px;
	background-attachment: fixed;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover
}
.parallax.bg1 {
	/*background-image: url(../images/servicebg.jpg);*/
	background-image: url(../img/pp.jpg);
}
.tmline .gallery-img {
    height: auto !important;
    max-width: 100%;
}
/*******************************************************************************/
/**************************************************************************************************/
/***********added by kunal*************/
ul.userOption li {
    padding: 8px 10px 0px;
    font-size: 9px;
}
.mdl-card.mdl-shadow--16dp {
    background: #f58368;
    color: #fff;
}
.mdl-button.mdl-button--colored {
    color:#EF542E !important;
    background: #fff;
}
.mdl-button {
	color: #fff !important;
}
.mdl-button:hover {
    background-color: #f58368 !important;
    color: #fff !important;
}
.row.tmline .col-sm-12 {
    padding: 0;
}
.chat-window .panel-default {
    border-color: #EF542E !important;
}
.chat-window .panel-default>.panel-heading {
    border-color: #EF542E !important;
}
.chat-window .panel-title {
    color: #fff; 
}
.messages.msg_sent {
    background: #ffa28c;
    color: #fff;
}
.chat-window .messages > time { 
    color: #e4e4e4;
}
.tmline video {
    margin: 0 auto;
    display: block;
}
.product-gallery {
	text-align: center;
}
.login-user-down img {
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 50%;
    margin-right: 6px;
}
.be-drop-down.login-user-down {
	float: left;
}
a.invite_icon {
    color: #fff;
    font-size: 17px;
    float: left;
    position: relative;
    margin: 9px 24px 5px 16px;
}
a.invite_icon:hover {
	color: #fff !important;
}
.invite_icon i.fa.fa-user {
    margin: 0 9px 0 0;
    font-size: 22px;
}
a.messages-popup i.fa.fa-envelope-o{
	font-size: 22px;
}
.notofications-popup i.fa.fa-bell-o {
	font-size: 22px;
}
a.messages-popup {
    margin-top: 10px;
}
a.notofications-popup {
    margin-top: 10px;
}
.mrgnBttm5 img {
    width: 54px;
    height: 54px;
    border-radius: 50% !important;
    background: #fff;
}
.noto-popup.notofications-block {
    -webkit-box-shadow: -1px 0px 15px 0px rgba(50, 50, 50, 1);
    -moz-box-shadow: -1px 0px 15px 0px rgba(50, 50, 50, 1);
    box-shadow: -1px 0px 15px 0px rgba(50, 50, 50, 1);
}
.login_block .be-drop-down .drop-down-list {
    text-align: center;
    -webkit-box-shadow: -1px 0px 15px 0px rgba(50, 50, 50, 1);
    -moz-box-shadow: -1px 0px 15px 0px rgba(50, 50, 50, 1);
    box-shadow: -1px 0px 15px 0px rgba(50, 50, 50, 1);
    background: #ffffff !important;
}
.drop-down-list a {
    color: #383b43;
    /*padding: 5px 0 5px 0 !important;*/
}
.login-header-block .noto-popup {
	    width: 310px;
}
.drop-down-list a:hover {
    background: #ef542e !important;
}
.be-drop-down.login-user-down ul {
    padding: 0px 0 !important;
}
.input-group img {
    width: 20%;
    height: 50px;
}
.communitiesBlock img {
    width: 54px;
    height: 54px;
    border-radius: 50%;
}
.container {
	max-width: 1024px;
}
.comment img.avatar {
	width: 35px;
	height: 35px;
	border-radius: 50%;
}
#bs-example-navbar-collapse-1 .navbar-nav #menu-toggle-2 i {
	font-size: 37px;
}
.be-drop-down span {
    font-size: 16px;
}
.btn-success {
	background-color: #EF542E !important;
	border-color: #EF542E !important;
	margin-top: 0 !important;
}
.userActivity p {
    margin-top: 6px;
    margin-bottom: 7px;
}
.postedUser p a {
    margin-top: 14px;
    padding: 0;
    line-height: 42px;
}
.postedUser img {
    margin-right: 10px;
}
.postedUser p:empty {
	display: none;
}
.product-gallery img {
    width: 100%;
    height: auto;
}
.friend_rqust_btn a.mui-btn.mui-btn--flat.mui-btn--primary {
    background: #ef542e;
    /* background-color: #000 !important; */
    color: #fff !important;
    margin-right: 5px;
}
.all_user_community .each_community .community_name, .all_user_hobby .each_hobby .hobby_name {
    position: absolute;
    top: 30% !important;
    left: 40% !important;
    transform: translate(-20%,-40%);
    color: #ffffff;
    text-shadow: 0px 0px 10px rgb(0, 0, 0);
    font-weight: 700;
    font-size: 28px;
}
.all_user_community .each_community .community_members_count, .all_user_hobby .each_hobby .hobby_members_count {
    bottom: 60px !important;
    position: absolute;
    color: #ef542e;
    font-size: 16px;
    text-align: center;
    width: 100%;
}
.all_user_community .each_community .community_members, .all_user_hobby .each_hobby .hobby_members {
    width: 100%;
    bottom: 10px !important;
}
.all_user_community .each_comminity_member_img, .all_user_hobby .each_hobby_member_img {
    height: 31px;
    margin: 0 4px;
}
.all_user_community .each_community, .all_user_hobby .each_hobby {
    position: relative;
    width: 100% !important;
    height: 260px !important;
    overflow: hidden;
    background: rgba(60, 60, 60, 0.3);
    margin-bottom: 27px;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 3px;
}
.all_user_friends .each_friend {
    position: relative;
    width: 100% !important;
    height: 210px !important;
    background: rgba(128, 126, 126, 0.55);
}
.all_user_friends .each_friend .friend_name {
    position: absolute;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%,-50%);
    width: 100%;
    text-align: center;
    color: #fff !important;
    font-size: 16px;
    text-shadow: 0px 0px 10px rgb(0, 0, 0);
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 15px;
    border-radius: 3px;
}
.all_user_friends .each_friend .user_hobby_count {
    bottom: 40px !important;
    position: absolute;
    width: 100%;
    text-align: center;
    color: #ca2801;
    font-size: 14px;
}
.all_user_friends .each_friend .user_hobbies {
    position: absolute;
    bottom: 10px !important;
    width: 100%;
}
.all_user_friends .each_user_hobby_img {
    height: 31px;
    margin: 0 4px;
}
.frm p {
    background: #ef542e !important;
    color: #fff !important;
}
.frm p:empty {
    background: #ef542e;
    color: #fff;
    display: none;
}
.user_settings_form .cm {
	background: #b53313 !important;
    color: #fff !important;
}
input.meterial_input, textarea.meterial_input {
    background: rgba(239, 84, 46, 0.38);
    margin: 8px 0;
    width: 100%;
    padding: 10px 8px;
}
.center_div .dropbox p {
    color: #ffffff;
    text-align: center;
    background: #ef542e;
    /* box-shadow: 1px 2px 16px -6px grey; */
    padding: 10px;
    font-size: 16px;
    border: solid 0px;
    /* width: 350px; */
    border-bottom-width: 1px;
    width: 100%;
    margin-left: 0;
    margin-bottom: 10px;
}
.center_div .drop {
    padding: 40px 50px;
    margin-bottom: 30px;
    border: 1px dotted;
    border-radius: 12px;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    width: 100%;
    margin-left: 0;
    /* margin-top: 20px; */
    /* margin-top: 20px; */
    background-repeat: no-repeat;
    background-size: cover;
}
.center_div button.submit {
    background: #ef542e;
    padding: 11px 0;
    font-size: 16px;
    text-transform: uppercase;
}
.center_div button.submit:hover {
	background: #b53313;
}
.bulb {
	background: url(../images/bulb.png) no-repeat left top;
	background-size:27px 24px;
}
.bulb-on {
	background: url(../images/bulb-on.png) no-repeat left top;
	background-size:27px 24px;
}
span.count {
    color: #ef542e;
    font-size: 12px;
    text-shadow: 0px 0px 8px rgb(255, 254, 254);
    position: absolute;
    top: 8px;
    left: 30px;
}
.modal-header h3 {
    background: #ef542e;
    color: #fff;
    margin: 0;
    padding: 4px 14px;
}
.post_modal .modal-body select {
    background: rgba(239, 84, 46, 0.29);
}
button.btn {
    margin-top: 12px;
    padding: 10px 20px;
    font-size: 16px;
    background: #4285F4;
}
button.btn:hover {
    background: #EF542E !important;
    color:#fff !important;
}
.modal-body .mrgnBttm5 {
	text-align: center; 
}
p.create_community {
    position: absolute;
    bottom: 5px;
    color: #ef542e;
    font-size: 20px;
    text-align: center;
    width: 91%;
}
p.create_community:before {
    content: "+";
    position: absolute;
    top: -170px;
    width: 91%;
    font-size: 80px;
}
.userCover2 {
	background-position: center center !important;
	background-size: cover !important; 
}
.row.nameRow a {
    color: #fff;
    font-size: 16px;
}
#userPhotoColumn {
    column-width: inherit !IMPORTANT;
    column-gap: 0px !important;
    margin: 20px auto !important;
}
#userPhotoColumn figure {
    width: 24%;
    box-sizing: border-box;
}
.tab-pane h6 {
    font-size: 18px;
    padding: 20px 20px;
    color: #ef542e;
}
.addhbby .leftArrow, .addhbby .rightArrow {
    background: #ef542e;
    border: none;
    padding: 10px 25px;
    color: #fff;
}
.addhbby .leftArrow a, .addhbby .rightArrow a {
	color: #fff;
}
.addhbby .leftArrow i, .addhbby .rightArrow i {
	margin-left: 7px;
	margin-right: 7px;
}
.txt h2 {
    /*color: #ef542e;*/
    padding: 10px 0px 10px 11px;
}
.txt input[type="text"] {
    background: rgba(146, 31, 3, 0.33);
}
ul.tag-editor.ui-sortable {
    background: #dbb5ab;
}
.addhbby h1 {
    background: #ef542e;
    margin-top: 16px;
    color: #fff;
}
.click_reverse h1 {
    background: #ef542e;
    margin-top: 16px;
    color: #fff;
    margin-bottom: 14px;
}
.click_reverse .col-xs-8 a {
    color: #ef542e;
    font-size: 18px;
}
#custom-search-input {
    margin-top: 14px;
    margin-bottom: 14px;
}
a#next-add-hobby {
    background: #ef542e;
    color: #fff;
    padding: 10px 19px;
    font-size: 18px;
}
#custom-search-input .input-group-btn {
	background: #fbd5cb;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}
#hobbies_grid {
    background: rgb(80, 18, 18);
    padding-top: 12px;
}
.stats a {
    width: 27px;
    height: 25px;
}
.header-menu-block .form-group .form-input {
	padding: 0 12px !important;
}
.userActivity .nav-tabs>li>a:after {
	content: '';
    display: block;
    margin: auto;
    height: 2px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
    padding-bottom: 1%;
}
.userActivity .nav-tabs>li>a:hover:after{
    width: 100%;
    background: #ef542e;
}.userActivity .nav-tabs>li.active>a:after {
	content: '';
    display: block;
    margin: auto;
    height: 2px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
    padding-bottom: 1%;
    width: 100%;
    background: #ef542e;
}
/****************kunal**********/
@media(max-width:1024px) {
.proPic img {
	width: 80px;
	height: 80px;
}
ul.shortDetail li:first-child {
	/*font-size: 24px;*/
}
ul.shortDetail li {
	padding: 12px;
}
.proPicBlock {
	margin-top: 115px;
}
ul.hobbies li {
	padding: 10px;
}
.proPicBlock h4 {
	font-size: 16px;
}
ul.hobbies li {
	font-size: 12px;
	padding: 12px;
}
.latestPostBlock img {
	width: 84px;
}
._1tm3 {
	width: 26%;
}
._1tm3:first-child {
	margin-left: 0;
}
}
@media(max-width:768px) {
.xyz {
	min-width: auto;
}
.pro_block {
	height: auto;
}
.pro_block h5 {
	border-bottom: 1px solid #f1f1f1;
	padding-bottom: 10px;
	margin-bottom: 6px;
}
.communitiesBlock img {
	margin: 0 auto;
}
ul.hobbies li:first-child {
	width: 100%;
	height: 40px;
	font-size: 14px;
	font-weight: bold;
	color: #009688;
}
ul.hobbies li {
	font-size: 12px;
	width: 100px;
	height: 120px;
}
.proPic img {
	width: 80px;
	height: 80px;
	margin: 0 auto;
}
ul.shortDetail {
	margin-top: 70px;
	text-align: center;
}
ul.shortDetail li:first-child {
/*font-size: 22px;
	color: #009688;*/
}
ul.shortDetail li {
	padding: 7px;
	color: #2b2b2b
}
#page-content-wrapper.userCover {
	background: url(../img/coverpic.jpg) no-repeat top center;
}
.proPic {
	margin-top: 4%;
}
.proPicBlock h4 {
	font-size: 16px;
	line-height: 20px;
}
ul.hobbies {
	text-align: center;
}
ul.shortDetail li:first-child {
	width: 100%;
}
.latestPostBlock img {
	width: 88%;
}
}
@media(min-width:768px) {
#wrapper {
	padding-left: 250px;
}
.fixed-brand {
	width: 250px;
}
#wrapper.toggled {
	padding-left: 0;
}
#sidebar-wrapper {
	width: 250px;
}
#wrapper.toggled #sidebar-wrapper {
	width: 250px;
}
#wrapper.toggled-2 #sidebar-wrapper {
	width: 50px;
	display: none;
}
#wrapper.toggled-2 #sidebar-wrapper:hover {
	width: 250px;
	display: none;
}
#page-content-wrapper {
	/*padding: 20px;*/
	position: relative;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
#wrapper.toggled #page-content-wrapper {
	position: relative;
	margin-right: 0;
	padding-left: 250px;
}
#wrapper.toggled-2 #page-content-wrapper {
	position: relative;
	margin-right: 0;
	/*  margin-left: -200px;*/
	margin-left: -253px;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	width: auto;
}
._1tm3 {
	width: 32%;
}
._1tm3:first-child {
	margin-left: 0;
}
/*******************************/
}
@media (max-width: 736px) {
.proPic {
	margin-top: 3%;
}
ul.shortDetail li:first-child {
	width: 100%;
}
.proPicBlock h4 {
	text-align: center;
}
.latestPostBlock img {
	height: 158px;
	width: 90%;
}
._1tm3 {
	width: 30%;
}
}
@media(max-width:667px) {
.proPic {
	margin-top: 3%;
}
ul.hobbies li {
	width: 90px;
}
.latestPostBlock img {
	height: 150px;
	width: 90%;
}
.userActivity .nav-tabs>li {
    width: 30%;
}
.userActivity .nav-tabs {
    margin: 0 auto;
    width: 88%;
}
}
@media(max-width:600px) {
ul.hobbies li img {
	width: 50px;
	height: 50px;
}
ul.hobbies li {
	width: 79px;
}
._1tm3 {
	width: 30%;
}
._1tm3:first-child {
	margin-left: 0;
}
}
@media(max-width:568px) {
.proPic {
	margin-top: 5%;
}
._1tm3 {
	width: 30%;
}
._1tm3:first-child {
	margin-left: 0;
}
.footer ul.footList li{ text-align:center; width:100%; display:block; border-left:none; }
.footer ul.footList li a:hover{ color:#000;}
}
@media(max-width:414px) {
.hobbies {
	text-align: center;
}
._1tm3:first-child {
	margin-left: 0;
}
._1tm3 {
	width: 100%;
	border: none;
	padding: 0;
}
/**********************************************/
.servicesSection {
	margin-left: 0px;
}
.headerTop {
	margin-left: 0px;
}
.aboutPart {
	margin-left: 0px;
}
.headerTopInner h1 {
	font-size: 26px;
}
.aboutPart h2 {
	font-size: 26px;
}
.servicesBox {
	margin-bottom: 40px;
}
.headerTopInnerImg {
	width: 150px;
	height: 150px;
}
.headerTopInnerOption > li {
	display: block;
	border-left: none;
}
}
@media(max-width:384px) {
.proPic {
	margin-top: 9%;
}
.hobbies {
	margin-left: 0px;
}
ul.hobbies li:first-child {
	height: auto;
}
.nameRow h1 {
	color: #fff;
	font-size: 14px;
	padding: 0px;
	text-align: right;
	width: 100%;
	margin-left: 25px;
}
ul.shortDetail{ margin-top::75px !important; float:left; }
ul.shortDetail li{ margin-bottom:10px;}
}
@media(max-width:375px) {
.hobbies {
	text-align: center;
}
.proPic {
	margin-top: 9%;
}
ul.activity {
	right: 11px;
}
ul.activity li {
	margin-bottom: 7px;
}
ul.activity li a {
	padding: 4px 5px;
	font-size: 10px;
}
._1tm3:first-child {
	margin-left: 0;
}
._1tm3 {
	width: 100%;
	border: none;
	padding: 0;
}
}
@media(max-width:320px) {
.userActivity .nav-tabs>li{ width: 120%;}
.userActivity .nav-tabs{ width: 62%; }
.proPic {
	margin-top: 10%;
}
ul.activity {
	right: 11px;
}
ul.activity li {
	margin-bottom: 7px;
}
ul.activity li a {
	padding: 4px 5px;
	font-size: 10px;
}
.latestPostBlock img {
	height: 100px;
	width: 90%;
}
._1tm3:first-child {
	margin-left: 0;
}
._1tm3 {
	width: 100%;
	border: none;
	padding: 0;
}
ul.shortDetail{ margin-top::75px !important; float:left; }
.topParttext{ width:100%;}
.iconSection{ float:left;}
}
@media(max-width:240px) {
.navbar-brand {
	font-size: 12px;
}
.mdlBlock h1 {
	font-size: 14px;
}
.proPic {
	margin-top: 17%;
}
ul.shortDetail li:first-child {
	font-size: 15px;
}
.latestPostBlock img {
	height: 62px;
}
ul.activity {
	right: 11px;
}
ul.activity li {
	margin-bottom: 0px;
}
ul.activity li a {
	padding: 4px 5px;
	font-size: 7px;
}
}
.container-post-image {
        /*width:80%;*/
        width: 100%;
        margin:auto;
        text-align: center;
    }
    .container-post-image p{
    margin-top: 10%;
    font-size: 18px;
	}
	.container-post-image p a{ color: #69c458; text-transform: uppercase;}
	.container-post-image p a:hover{ text-decoration: none; }
	.container-post-image img{ width: 70%; height: 70%; }
	.podtImgBlock{ margin-bottom: 5%; }
.item {
    background: #ffffff;
    width: 197px;
    float: left;
    height: auto;
    padding: 0px;
}
/* callapsable more list */
[id^="togList"],                        /* HIDE CHECKBOX */
[id^="togList"] ~ .list,                /* HIDE LIST */
[id^="togList"] + label  span + span,   /* HIDE "Collapse" */
[id^="togList"]:checked + label span{   /* HIDE "Expand" (IF CHECKED) */
  display:none;
}
[id^="togList"]:checked + label span + span{
  display:inline-block;
  transition:;                 /* SHOW "Collapse" (IF CHECKED) */
}
[id^="togList"]:checked ~ .list{
  display:block;                        /* SHOW LIST (IF CHECKED) */
}
.faq-t {
  line-height: 20px;
  color: #aaa; 
  font-family: sans-serif; 
  float:left; 
  font-weight: 700; 
  padding-right: 0.3em; 
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  transition: all 200ms;
}
.faq-o {
  transform: rotate(-45deg);
  transform-origin: 50% 50%;
  -ms-transform: rotate(-45deg);
  -ms-transform-origin: 50% 50%;
  -webkit-transform: rotate(-45deg);
  -webkit-transform-origin: 50% 50%;
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  transition: all 200ms;
}
.faq-q {
  cursor: pointer;
  font-size: 14px;
  color: #37474f;
}
.faq-a {
  clear: both;
  color: #666;
  display: none;
  padding-left: 13px;
  position: absolute;
  box-shadow: 1px 2px 6px grey;
  width: 175px;
  margin-top: 7px;
  z-index: 9999;
  background: #fff;
}
.faq-a a {
    text-decoration:none;
  color:grey;
}
.faq-a .hyp a {
    padding-top: -23px;
    font-size: 12px;
}
.mdlBlock .userOption .faq-c p {
    margin-bottom: 5px;
}
/* callapsable more list */
.item.item_count_1 {
    height: 100%;
    width: 100%;
    /* border: solid 20px #eaeaea; */
    background: white;
        margin-left: 3px;
}
/* material design form */
.meterial_input, .tag-editor {
	margin: 18px 76px 18px 27px;
	width: 265px;
  display: block;
  border: none;
  padding: 10px 0;
  border-bottom: solid 1px #c5c5c5;
  -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #1abc9c 4%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #69C458 4%);
  background-position: -200px 0;
  background-size: 200px 100%;
  background-repeat: no-repeat;
  color: #0e6252;
}
 
input:focus, input:valid {
 box-shadow: none;
 outline: none;
 background-position: 0 0;
}
input::-webkit-input-placeholder {
 font-family: 'roboto', sans-serif;
 -webkit-transition: all 0.3s ease-in-out;
 transition: all 0.3s ease-in-out; 
}
 
input:focus::-webkit-input-placeholder, input:valid::-webkit-input-placeholder {
 color: #69C458;
 font-size: 11px;
 
 visibility: visible !important;
}
.submit {
    border: none;
    background: #69c458;
    cursor: pointer;
    border-radius: 3px;
    padding: 6px;
    width: 128px;
    color: white;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
    margin-top: 8px;
}
.new_community_submit, .user_settings_submit {
    text-align: center;
    background: white;
    padding-bottom: 20px;
}
.new_community_submit{
    width:702px;
}
.card.chose_community_type {
    width: 230px;
    margin-left: 0;
}
.frm {
    margin-top: 20px;
    margin-bottom: 20px;
}
.frm p {
    color: #7b7b7b;
    text-align: center;
    background: #f7f7f7;
    box-shadow: 1px 2px 16px -6px grey;
    padding: 10px;
    font-size: 18px;
}
.frm .cm {
	      color: #7b7b7b;
    text-align: center;
    background: #eaeaea;
    padding: 5px;
    font-size: 10px;
}
.center_div {
    width: 735px;
    margin: 0 auto;
    padding: 0px;
    float: inherit;
}
.frm .a {
      color: #5d5d5d;
   
    text-align: center;
    margin-top: -4px;
    font-weight: bold;
    position: relative;
}
/* material design */
.dropbox
{
    background: white;
    height: 547px;
    width: 351px;
    margin-top: 15px;
}
.dropbox p {
    color: #7b7b7b;
    text-align: center;
    background: #f7f7f7;
    /* box-shadow: 1px 2px 16px -6px grey; */
    padding: 10px;
    font-size: 16px;
    border: solid 0px;
    /* width: 350px; */
    border-bottom-width: 1px;
    width: 192px;
    margin-left: 79px;
}
.crete_community_form, .user_settings_form {
    height: 547px;
    background: white;
    width: 351px;
    padding-top: 15px;
}
/* button */
@-webkit-keyframes 
cardEnter {  0%, 20%, 40%, 60%, 80%, 100% {
 -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
 transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
 0% {
 opacity: 0;
 -webkit-transform: scale3d(0.3, 0.3, 0.3);
}
 20% {
 -webkit-transform: scale3d(1.1, 1.1, 1.1);
}
 40% {
 -webkit-transform: scale3d(0.9, 0.9, 0.9);
}
 60% {
 opacity: 1;
 -webkit-transform: scale3d(1.03, 1.03, 1.03);
}
 80% {
 -webkit-transform: scale3d(0.97, 0.97, 0.97);
}
 100% {
 opacity: 1;
 -webkit-transform: scale3d(1, 1, 1);
}
}
@keyframes 
cardEnter {  0%, 20%, 40%, 60%, 80%, 100% {
 -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
 transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
 0% {
 opacity: 0;
 -webkit-transform: scale3d(0.3, 0.3, 0.3);
 transform: scale3d(0.3, 0.3, 0.3);
}
 20% {
 -webkit-transform: scale3d(1.1, 1.1, 1.1);
 transform: scale3d(1.1, 1.1, 1.1);
}
 40% {
 -webkit-transform: scale3d(0.9, 0.9, 0.9);
 transform: scale3d(0.9, 0.9, 0.9);
}
 60% {
 opacity: 1;
 -webkit-transform: scale3d(1.03, 1.03, 1.03);
 transform: scale3d(1.03, 1.03, 1.03);
}
 80% {
 -webkit-transform: scale3d(0.97, 0.97, 0.97);
 transform: scale3d(0.97, 0.97, 0.97);
}
 100% {
 opacity: 1;
 -webkit-transform: scale3d(1, 1, 1);
 transform: scale3d(1, 1, 1);
}
}
/* Container
 ------------------------------------------------------------- */
.card {
  -webkit-animation: cardEnter 0.75s ease-in-out 0.5s;
  animation: cardEnter 0.75s ease-in-out 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  max-width: 250px;
 
  background-color: #fff;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  margin: 20px auto;
  opacity: 0;
}
.cardview {
  -webkit-animation: cardEnter 0.75s ease-in-out 0.5s;
  animation: cardEnter 0.75s ease-in-out 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  margin: 0px auto;
  opacity: 0;
}
/* Individual Controls
 ------------------------------------------------------------- */
.radio {
       display: inline-block;
    /* padding-right: 13px; */
    font-size: 14px;
    line-height: 37px;
    cursor: pointer;
    margin-left: 73px;
}
.radio:hover .inner {
  -webkit-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
  opacity: .5;
}
.radio input {
  width: 1px;
  height: 1px;
  opacity: 0;
}
.radio input:checked + .outer .inner {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
.radio input:checked + .outer { border: 3px solid #f08b3b; }
.radio input:focus + .outer .inner {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  background-color: #e67012;
}
.radio .outer {
  width: 20px;
  height: 20px;
  display: block;
  float: left;
  margin: 10px 9px 10px 10px;
  border: 3px solid #0c70b4;
  border-radius: 50%;
  background-color: #fff;
}
.radio .inner {
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
    width: 10px;
    height: 10px;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  display: block;
  margin: 2px;
  border-radius: 50%;
  background-color: #f08b3b;
  opacity: 0;
}
.chbox {
      margin-left: 138px;
    position: absolute;
    margin-top: 7px;
}
/* gallery status  */
div#gallery {
    /*margin-top: -135px;
    min-width: 500px;
    margin-left: -232px;*/
    text-align: center;
}
#mylife-div{
/*min-height: 350px;
width: 1349px;*/
}
.socialIcon li a {
    font-size: 23px;
    }
.ltpost {
    margin-left: -180px;
}
#mylife-header h2{ padding: 12px 0px;
    margin: 0px;
    font-size: 36px;
    color: #484848;
    text-transform: uppercase;
    text-align: center;
    margin: auto;}
#mylife-header{
	margin-top: 0;
    margin-bottom: 0;
}
.aboutPart .flex-direction-nav a.flex-prev:before{ content: url('../img/leftarw2.png'); }
.aboutPart .flex-direction-nav a.flex-next:after{ content: url('../img/right2.png'); }
.aboutPart .flex-direction-nav a.flex-next:before{ content: url('../img/right2.png'); }
/* page layout */
/* css3 photo gallery styles */
.gallery {
    width:auto;
	padding-bottom: 5%;
    /*width:610px;   
    margin-left: -85px;*/
}
.gallery a {
    display:inline-block;
    height:150px;
    position:relative;
    width:200px;
}
.gallery a img {
    border:5px solid #fff;
    cursor:pointer;
    display:block;
    height:100%;
    left:0px;
    position:absolute;
    top:0px;
    width:100%;
    z-index:1;
        margin-bottom: 84px;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    -webkit-transition-property:width, height, top, bottom, left, right, z-index, border;
    -webkit-transition-duration:0.5s;
    -moz-transition-property:width, height, top, bottom, left, right, z-index, border;
    -moz-transition-duration:0.5s;
    -o-transition-property:width, height, top, bottom, left, right, z-index, border;
    -o-transition-duration:0.5s;
    transition-property:width, height, top, bottom, left, right, z-index, border;
    transition-duration:0.5s;
}
.gallery a:hover img {
    border:15px solid #fff;
    cursor:default;
    height:150%;
    position:absolute;
    width:150%;
    z-index:25;
    box-shadow:1px 1px 5px #888;
    -moz-box-shadow:1px 1px 5px #888;
    -webkit-box-shadow:1px 1px 5px #888;
    -webkit-transition-property:width, height, top, bottom, left, right, z-index, border;
    -webkit-transition-duration:0.5s;
    -moz-transition-property:width, height, top, bottom, left, right, z-index, border;
    -moz-transition-duration:0.5s;
    -o-transition-property:width, height, top, bottom, left, right, z-index, border;
    -o-transition-duration:0.5s;
    transition-property:width, height, top, bottom, left, right, z-index, border;
    transition-duration:0.5s;
}
/* extra close layer */
.tmline {
   
    box-shadow: 1px 1px 9px -1px grey;
    padding: 10px;
    margin-bottom: 14px;
    margin-top: 14px;
    /*width: 660px;
    height: 452px;*/
    position: relative;
    }
.status {
    color: red;
    margin-top: 24px;
}
.mdlBlock p.error{ color:red; font-size:12px;}
/*** Underline hover effect ***/
ul.userOption li {
	display: inline-block;
	position: relative;
}
ul.userOption li:after {
	content: '';
	display: block;
	margin: auto;
	height: 2px;
	width: 0px;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
	padding-bottom:1%;
}
ul.userOption li:hover:after {
	width: 100%;
	background: #ef542e;
}
li.active_hobby {
    border-bottom: 2px solid #ef542e !important;
}
ul.userOption li.active_hobby {
    border-bottom: 2px solid #ef542e;
}
ul.userOption li.active_hobby:hover:after {
    background: none;
}
@media(min-width:320px) and (max-width:1200px) {
#mylife-div{
min-height: 350px;
width: 100%;
}
}
/*********************** accordion start ***********************/
.right {
    float: right;
}
.accordion_container {
  width: 100%;
}	
.accordion_container > div[class*='col-'] {
  padding: 0px;
}
.accordion_container > .wrap {
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.accordion_container > a:focus,
.accordion_container > a:hover,
.accordion_container > a:active {
  outline: 0;
  text-decoration: none;
}
.accordion_container > .panel {
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #fff;
  background: none;
  box-shadow: none;
}
.panel:last-child {
  border-bottom: none;
}
.panel-group > .panel:first-child .panel-heading {
  /*border-radius: 4px 4px 0 0;*/
}
.panel-group .panel {
  border-radius: 0;
  box-shadow: none;
}
.panel-group .cardview{ box-shadow: none; border:1px solid #edeff2;}
.panel-group .panel + .panel {
  margin-top: 0;
}
.panel-heading {
  background-color:#ef542e;
  border-radius: 0;
  border: none;
  padding: 0;
  
  color: #ffffff;
  
  border:1px solid #ef542e;
}
.panel-title a {
  display: block;
  color: #d2d2d2;
  padding: 4px 10px;
  position: relative;
  font-size: 14px;
  font-weight: 200;
}
.panel-title a:hover{ color:#fff;}
.panel-body {
  background: #fff;
}
.panel:last-child .panel-body {
  border-radius: 0 0 4px 4px;
}
.panel:last-child .panel-heading {
  /*border-radius: 0 0 4px 4px;*/
  transition: border-radius 0.3s linear 0.2s;
  background: #EF542E; 
}
.panel:last-child .panel-heading.active {
  border-radius: 0;
  transition: border-radius linear 0s;
}
/* #bs-collapse icon scale option */
.panel-heading a:before {
  content: '\e146';
  position: absolute;
  font-family: 'Material Icons';
  right: 5px;
  top: 10px;
  font-size: 24px;
  transition: all 0.5s;
  transform: scale(1);
}
.panel-heading.active a:before {
  content: ' ';
  transition: all 0.5s;
  transform: scale(0);
}
#bs-collapse .panel-heading a:after {
  content: ' ';
  font-size: 24px;
  position: absolute;
  font-family: 'Material Icons';
  right: 5px;
  top: 10px;
  transform: scale(0);
  transition: all 0.5s;
}
#bs-collapse .panel-heading.active a:after {
  content: '\e909';
  transform: scale(1);
  transition: all 0.5s;
}
/* #accordion rotate icon option */
.accordion .panel-heading a:before {
  content: '\e316';
  font-size: 24px;
  position: absolute;
  font-family: 'Material Icons';
  right: 5px;
  top: 0px;
  transform: rotate(180deg);
  transition: all 0.5s;
}
.accordion .panel-heading.active a:before {
  transform: rotate(0deg);
  transition: all 0.5s;
}
/*********************** accordion end ***********************/
/*
 *  Scrollbar Start
 */
body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}
body::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}
body::-webkit-scrollbar-thumb
{
	background-color: rgba(202, 40, 1, 0.57);	
	background-image: -webkit-linear-gradient(45deg,
	                                          rgba(255, 255, 255, .2) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(255, 255, 255, .2) 50%,
											  rgba(255, 255, 255, .2) 75%,
											  transparent 75%,
											  transparent)
}
/*
 *  Scrollbar End
 */
 .center {
    text-align: center;
}
.middle {
    margin: 0 auto;
}
.stat-item.activeLike {
    color: rgba(86, 195, 30, 0.91);
}
/*
* CSS from index.blade.php
*/
.post_modal .modal-body select{ width: 100%; padding: 0 0 0;}
.post_modal .modal-body select option{ padding: 5px 15px; text-transform: capitalize; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;}
.post_modal .modal-body select option:hover{ 
    background: #ef542e;
    color: #fff;
 }
.thumbnail{float:left;width:100px;position:relative;padding:5px;}
.post_file{float:left; width: 50px; height: 50px;}
.panel-white  .panel-heading {
  color: #333;
  background-color: #fff;
  border-color: #ddd;
}
.panel-white  .panel-footer {
  background-color: #fff;
  border-color: #ddd;
}
.post .post-heading {
  height: 95px;
  padding: 20px 15px;
}
.post .post-heading .avatar {
  width: 60px;
  height: 60px;
  display: block;
  margin-right: 15px;
}
.post .post-heading .meta .title {
  margin-bottom: 0;
}
.post .post-heading .meta .title a {
  color: black;
}
.post .post-heading .meta .title a:hover {
  color: #aaaaaa;
}
.post .post-heading .meta .time {
  margin-top: 8px;
  color: #999;
}
.post .post-image .image {
  width: 100%;
  height: auto;
}
.post .post-description {
  padding: 0px;
}
.post .post-description p {
  font-size: 14px;
}
.post .post-description .stats {
  margin-top: 0px;
}
.post .post-description .stats .stat-item {
  display: inline-block;
  margin-right: 15px;
}
.post .post-description .stats .stat-item .icon {
  margin-right: 8px;
}
.post .post-footer {
  border-top: 1px solid #ddd;
  padding:4px 0 0 0;
}
.post .post-footer .input-group-addon a {
  color: #454545;
}
.post .post-footer .comments-list {
  padding: 0;
  /*-top: 20px;*/
  list-style-type: none;
}
.post .post-footer .comments-list .comment {
  display: block;
  width: 100%;
  margin:5px 0;
}
.post .post-footer .comments-list .comment .avatar {
  width: 35px;
  height: 35px;
}
.post .post-footer .comments-list .comment .comment-heading {
  display: block;
  width: 100%;
}
.post .post-footer .comments-list .comment .comment-heading .user {
  font-size: 13px;
  font-weight: bold;
  display: inline;
  margin-top: 0;
  margin-right: 10px;
  color: #4c4c4c;
}
.post .post-footer .comments-list .comment .comment-heading .time {
  font-size: 12px;
  color: #aaa;
  margin-top: 0;
  display: inline;
}
.post .post-footer .comments-list .comment .comment-body {
  margin-left: 50px;
}
.post .post-footer .comments-list .comment > .comments-list {
  margin-left: 50px;
}
button.friendRequestButton, button.no_style {
    background: none;
    border: none;
}
.right_section {
    width: 10%;
    float: right;
}
.notificationBox {
    bottom: 0px;
    position: absolute;
    margin-left: 50px;
}
nav.navbar .right_section .fa {
    color: #ddd;
    font-size: 18px;
    -webkit-transition: color 0.2s ease-out;
    -moz-transition: color 0.2s ease-out;
    -o-transition: color 0.2s ease-out;
    -ms-transition: color 0.2s ease-out;
    transition: color 0.2s ease-out;
}
nav.navbar .right_section .fa:hover {
    color: white;
}
nav.navbar .right_section .fa:focus {
    color: white;
}
button.friendRequestButton:focus , button.notificationButton:focus {
    border: none;
    background: none;
    outline: 0;
}
button.friendRequestButton:focus i , button.notificationButton:focus i {
    color: white !important;
}
div#friendRequestList, div#notificationList {
    position: absolute;
    background: white;
    width: 330px;
    max-height: 300px;
    min-height: 52px;
    z-index: 9;
    box-shadow: 0px 3px 2px 2px rgba(0, 0, 0, 0.3);
    overflow-y: scroll;
    right: 0px;
}
div#friendRequestList{
}
div#notificationList {
}
.eachFriendRequestRow {
    width: 100%;
    padding: 10px;
}
.eachFriendRequestRow img{
    width: 15%;
    float: left;
}
.eachFriendRequestRow .friendRequestName {
    width: 50%;
    float: left;
    margin-top: 12px;
    margin-left: 10px;
}
.eachFriendRequestRow .friendRequestActions {
    margin-top: 13px;
}
.eachFriendRequestRow .friendRequestActions a {
    padding: 10px;
}
#friendRequestList p, #notificationList p{
    padding: 12px 12px 0px 12px;
}
.friendrequest {
    bottom: 0px;
    position: absolute;
}
.btn-floating {
    display: inline-block;
    color: #fff;
    position: relative;
    overflow: hidden;
    z-index: 1;
    width: 30px;
    height: 30px;
    line-height: 30px;
    padding: 0;
    background-color: #26a69a;
    border-radius: 50%;
    transition: .3s;
    cursor: pointer;
    vertical-align: middle;
}
.btn-floating i {
    width: inherit;
    display: inline-block;
    text-align: center;
    color: #fff;
    font-size: 16px;
    line-height: 30px;
}
.no_list_style{
	list-style: none;
}
.red {
    background-color: #F44336 !important;
}
.yellow.darken-1 {
    background-color: #fdd835 !important;
}
.green {
    background-color: #4CAF50 !important;
}
.yellow {
    background-color: #ffeb3b !important;
}
.blue {
    background-color: #2196F3 !important;
}
.orange{ background:#ef542e!important;}
.friends_options{
	position: absolute;
	margin-left: 5px;
	
	top: 27%;
}
.friends_options li {
    padding: 2px;
	
	display: inline-block;
}
div#loadNewPostBox {
    margin-bottom: 20px;
}
/***SEARCH STARTS HERE***/
.search-form .form-group {
  float: right !important;
  transition: all 0.35s, border-radius 0s;
  width: 32px;
  height: 32px;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  border-radius: 25px;
  border: 1px solid #ccc;
}
.search-form .form-group input.form-control {
  padding-right: 20px;
  border: 0 none;
  background: transparent;
  box-shadow: none;
  display:block;
  height:auto;
}
.search-form .form-group input.form-control::-webkit-input-placeholder {
  display: none;
}
.search-form .form-group input.form-control:-moz-placeholder {
  /* Firefox 18- */
  display: none;
}
.search-form .form-group input.form-control::-moz-placeholder {
  /* Firefox 19+ */
  display: none;
}
.search-form .form-group input.form-control:-ms-input-placeholder {
  display: none;
}
.search-form .form-group:hover,
.search-form .form-group.hover {
  width: 100%;
  border-radius:4px 4px 4px 4px;
}
.search-form .form-group span.form-control-feedback {
  position: absolute;
  top: -1px;
  right: -2px;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  color: #ef542e;
  left: initial;
  font-size: 14px;
}
/***SEARCH ENDS HERE***/
.file_label{ cursor: pointer; width: 28%; color: #ef542e;}
._3-8i .post_type{ float:left; border: 1px solid #d1d1d1; padding: 6px 15px; border-radius: 4px; margin-right: 10px;}
.hide_this_post a:hover, .hide_this_post a:active{ color:#ef542e;}
.stats .btn{ color:#333;}
.stats .btn.stat-item.activeLike i{ font-weight:bold; color:#ef542e;}
.messages-popup .fa.fa-envelope {
    font-size: 20px;
}
.notofications-popup .fa.fa-bell {
    font-size: 20px;
}