@charset "utf-8";
/* CSS Document */
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
/*********font-family: 'Montserrat', sans-serif;*******/
div, span, a, p, tr, td, ul, li, ol, h1, h2, h3, h4, h5, h6, header, footer, section, artical { margin:0; padding:0;}
a, a:hover {
	text-decoration:none;	
}
img { border:none; max-width:100%;}
body {
	font-family: 'Montserrat', sans-serif;
	background:#fff;
	color:#272627;
	font-size:16px;	
	margin:0;
	padding:0;
	font-weight:400;
}
.container {
	max-width:1170px;
	position:relative;
	margin:0 auto;	
}
.wrapper {
	width:100%;	
}
.header {
	width:100%;
	padding:30px 0;
	position: absolute;
	z-index:99;
}
.logo {
	text-align:left;
	padding-top: 20px;	
}
.logo img {
	max-width:100%;	
}
.slider {
	background:url(../img/slider.jpg) no-repeat center center;
	background-size:cover;	
}
.passion {
	width: 100%;
	padding: 47px 0;
}
.passion h2 {
	font-weight: 400;
	font-size: 40px;
	color: #272627;
	background: url(../img/hr.png) no-repeat center bottom;
    text-align: center;
    padding: 0 0 25px 0;
    margin-bottom: 15px;
}
.passion h3 {
	font-weight: 400;
	font-size: 21px;
	color: #595759;
    text-align: center;
    padding-bottom: 18px;
}
.passion h4 {
    font-weight: 400;
    font-size: 16px;
    color: #fff;
	background: #f1511b;
    text-align: center;
    border: 1px solid #adacad;
    width: 50%;
    margin: 0 auto;
    padding: 8px 0px;
    border-radius: 11px;
    margin-bottom: 10px;
}
.passion-top {
    text-align: center;
    -webkit-box-shadow: 0px 0px 1px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 0px 1px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 0px 1px 0px rgba(50, 50, 50, 0.75);
    width: 238px;
    height: 238px;
    vertical-align: middle;
    box-sizing: border-box;
    padding: 73px 0;
    border-radius: 50%;
    margin: 0 auto;
}
.passion-btm {
	text-align: center;
	width: 100%;
	box-sizing:border-box;
	padding: 28px 8px;
	color: #272627;
}
.passion-btm h5 {
	font-weight: 400;
	font-size: 24px;
	color: #272627;
	background: url(../img/hr-h5.png) no-repeat center bottom;
	text-transform: uppercase;
    padding-bottom: 10px;
    margin-bottom: 16px;
}
.passion-itm:hover .passion-btm h5 {
	background: url(../img/hr-h5-hvr.png) no-repeat center bottom;
}
.passion-itm {
    margin-top: 52px;
}
.network {
	background: url(../img/networking.png) no-repeat center center;
	background-size:100% 100%;
	background-attachment: fixed;
	width: 100%;
	padding: 63px 0 95px;
	color: #636363;
	font-size: 17px;
	font-weight: 400;
}
.network h2 {
	color: #f1511b;
	font-size: 33px;
	font-weight: 400;
	text-transform: uppercase;
	padding-bottom: 23px;
}
.network p {
	padding-bottom: 30px;
}
.network-btn {
	font-weight: 400;
	color: #fff;
	font-size: 24px;
	background: #f1511b;
	border:none;
	border-radius: 0;
}
.get-net {
	background: url(../img/get-net.png) no-repeat center center;
	background-size:100% 100%;
	background-attachment: fixed;
	padding: 73px 0 51px;
	width: 100%;
	text-align: center;
}
.get-net h2 {
	font-weight: 400;
	font-size: 42px;
	color: #fff;
	background: url(../img/white-hr.png) no-repeat center bottom;
    padding: 0 0 25px 0;
    margin-bottom: 85px;
    text-transform: uppercase;
}
.join-click {
    background: rgba(0, 0, 0, 0.53) !important;
    border: 2px solid #fff !important;
    border-radius: 0;
    font-weight: 400;
    font-size: 24px;
    text-transform: uppercase;
}
.home-galary {
	width: 100%;
	padding: 51px 0;
}
.home-galary h2{
	font-size: 40px;
	margin-bottom: 51px;
	font-weight: 400;
	color: #272627;
	text-transform: uppercase;
	text-align: center;
}
.thumbnail {
    position:relative;
    overflow:hidden;
    margin-left: -15px;
    margin-right: -15px;
    border: none;
    padding: 0 !important;
    border-radius: 0 !important;
    margin-bottom: 0 !important;
}
 
.caption {
    position:absolute;
    top:0;
    right:0;
    background:rgba(10, 10, 10, 0.66);
    width:100%;
    height:100%;
    padding:2%;
    display: none;
    text-align:center;
    color:#fff !important;
    z-index:2;
}
.caption p {
    font-size: 27px;
    font-weight: 400;
    padding-bottom: 27px;
}
.caption img {
    width: 38%;
}
.more {
	background: #f1511b;
	font-size: 20px;
	font-weight: 400;
	border-radius: 0;
	border:none;
}
.more:hover {
	background: #c63f11 !important;
}
.footer {
	width: 100%;
	padding: 80px 0 38px;
	background: #161616;
}
.footer-list-1 {
	box-sizing: border-box;
	padding-right: 82px;
}
.footer-list-1 img {
	max-width: 100%;
}
.footer-list-1 p {
	font-size: 14px;
	color: #c6c6c6;
	font-weight: 400;
	padding: 32px 0 56px;
}
.footer-list-1 ul li {
    list-style: none;
    float: left;
    padding: 0 24px 0 0;
}
.footer-list-1 ul li a {
    color: #fff;
}
.footer-list-1 ul li a span {
    margin-right: 6px;
}
.footer-list-2 h3 {
	color: #f9e4b7;
	font-size: 18px;
	font-weight: 400;
	padding-bottom: 42px;
}
.footer-list-2 ul li {
	list-style: none;
	padding-bottom: 10px;
}
.footer-list-2 ul li a {
	color: #c6c6c6;
	font-size: 14px;
}
.footer-list-3 h3 {
	color: #f9e4b7;
	font-size: 18px;
	font-weight: 400;
	padding-bottom: 42px;
}
.footer-list-3 ul li {
	list-style: none;
	padding-bottom: 10px;
	width: 50%;
	float: left;
}
.footer-list-3 ul li a {
	color: #c6c6c6;
	font-size: 14px;
}
.copy {
	text-align: center;
	color: #939393;
	font-size: 12px;
	padding-top: 70px;
}
.slider h1 {
	font-size: 40px;
	font-weight: 400;
	margin-bottom: 32px;
}
.slider .form-control {
	background: #666666;
}
.slider .form-control {
    background: #666666;
    border-top: none;
    border-bottom: none;
    border-radius: 0;
    font-size: 21px;
    font-weight: 400;
	color:#fff;
	margin-bottom:15px;
}
.bnr-login {
    background: #000 !important;
    font-size: 18px;
    font-weight: 400;
    color: #fff !important;
    padding: 6px 21px;
    border-bottom: none;
    border-top: none;
    border-radius: 14px;
}
.slider .form-group {
    box-sizing: border-box;
    padding: 0 4px;
}
.slider p {
    margin: 11px 0;
}
.slider p a {
	color: #f15220;
	text-decoration:underline;
}
#fblogin{
	background-color:#203484 !important;
	}
.slider h4 {
	color: #fff;
	font-size: 18px;
	font-weight: 400;
}
.slider-sign {
    font-size: 28px;
    font-weight: 400;
    border-radius: 14px;
    padding: 10px 30px;
    margin-top: 25px;
    margin-bottom: 25px;
    background: #f15220;
    border:1px solid #fff !important;
}
.slider-sign:hover {
	background: #b7370f;
}
section {
    height: auto !important;
}
.slider .carousel-caption {
	bottom: 27%;
}
.prfl-img-area {
	position:absolute;
	width:100%;
	text-align:center;	
}
.prfl-img-area {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom:-12%;
}
.prfl-slider {
    margin-bottom: 69px;
}
.about  {
    width: 100%;
    padding:67px 0;
}
.about h2 {
	background:url(../img/hr-h5-hvr.png) no-repeat center bottom !important;	
}
.passion.about h3 {
    font-weight: 400;
    font-size: 18px;
    color: #535252;
    text-align: center;
    padding-bottom: 18px;
    line-height: 24px;
}
.tab-glry .thumbnail {
	margin-left:0 !important;
	margin-right:0 !important;
	padding:10px !important;	
}
.tab-glry .caption img {
    width: 20%;
    margin-top: 55px;
    margin-bottom: 10px;
}
.tab-fnctn .nav-tabs>li>a {
	color:#282828;
	font-size:18px;
	font-weight:400;	
}
/*.tab-content ul.nav-tabs>li.active>a{
    color: #fff !important;
    background-color: #f05424 !important;
    border: none !important;
    border-radius: 21px !important;
}
.tab-fnctn .nav>li>a:focus, .tab-fnctn .nav>li>a:hover {
    text-decoration: none;
    background-color: transparent;
    border-color: transparent !important;
	border:none;
}
*/
.tab-fnctn .nav-tabs {
    border-bottom: 1px solid #fff;
}
.tab-fnctn ul li a {
    background: none !important;
	border:none !important;
}
.tab-fnctn ul li.active a {
    background: #f05424 !important;
    border: none;
    border-color: transparent;
    color: #fff;
    border-radius: 26px;
}
.tab-fnctn ul li.active a:focus {
	color:#fff;	
}
.tab-fnctn ul {
    width: 50%;
    margin: 81px auto;
}
.community-prfl h2 {
    font-weight: 400;
    font-size: 40px;
    color: #272627;
    background:url(../img/hr-h5-hvr.png) no-repeat center bottom ;
    text-align: center;
    padding: 0 0 25px 0;
    margin-bottom: 57px;
}
.community-prfl {
	width:100%;
	padding:25px 0 0;	
}
.community-btm {
	width:100%;
	background:url(../img/community-bg.jpg) center center no-repeat;
	background-attachment:fixed;
	padding:221px 0 109px;	
}
.community-itm {
	text-align:center;
	color:#fff;
	font-size:14px;
	text-transform:uppercase;
}
.img-border {
	border:3px solid #f9967c;
	margin-bottom:17px;	
}
.frnd {
	width:100%;
	padding:55px 0;	
}
.frnd h2 {
    font-weight: 400;
    font-size: 40px;
    color: #272627;
    background: url(../img/hr-h5-hvr.png) no-repeat center bottom;
    text-align: center;
    padding: 0 0 25px 0;
    margin-bottom: 57px;
	text-transform:uppercase;
}
.frnd-border {
	-webkit-box-shadow: 0px 0px 18px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    0px 0px 18px 0px rgba(50, 50, 50, 0.75);
box-shadow:         0px 0px 18px 0px rgba(50, 50, 50, 0.75);
	border:4px solid #fff;
	margin-bottom:20px;	
}
.frnds-itm p {
	color:#282828;
	font-size:14px;
	font-weight:400;	
}
.frnds-itm {
	width:20%;
	float:left;
	margin-bottom:20px;
	text-align:center;	
}
.post-section {
	width:100%;
	padding:85px 0 125px;	
}
.post-section h2 {
    font-weight: 400;
    font-size: 40px;
    color: #272627;
    background: url(../img/hr-h5-hvr.png) no-repeat center bottom;
    text-align: center;
    padding: 0 0 25px 0;
    margin-bottom: 57px;
	text-transform:uppercase;
}
.post-area {
	width:100%;
	box-sizing:border-box;
	padding:21px 15px 30px;
	background:#e5e5e5;	
}
h6.post-name {
    color: #282828;
    font-size: 15px;
    font-weight: 700;
	margin-bottom:5px;
}
p.post-date {
    background: #f05424;
    display: initial;
    padding: 2px 10px;
    color: #fff;
    font-size: 14px;
}
.posted-img {
    padding: 10px 5px 10px 15px;
    text-align: center;
}
.cmnt {
    width: 100%;
    padding: 0;
    box-sizing: border-box;
}
input#cmnt {
    width: 100%;
    border-radius: 0;
}
post-section .form-inline {
	position:relative;	
}
.cmnt-submit {
    position: absolute;
    right: 16px;
    top: 0;
}
input.cmnt-btn {
    background: url(../img/note.png) no-repeat center center;
    width: 32px;
    height: 32px;
    background-size: 100%;
    border: none;
}
img.post-cmnt-img {
    width: 43px;
    margin-right: 10px;
    display: initial;
	float:left;
}
.post-cmnt {
	margin-top:15px;	
}
p.cmnt-txt {
    color: #062140;
    font-size: 15px;
}
p.cmnt-name {
    color: #282828;
    font-size: 13px;
}
span.cmnt-time {
    color: #737070;
    font-size: 11px;
}
.top-prfl {
	color:#fff;
}
.brdr-img {
	border:2px solid #fff;
	width:40px;
	float:left;
	margin-right:10px;	
}
.top-prfl p {
    float: left;
    padding-top: 10px;
}
span#dropdownMenu1 {
    margin-top: 19px;
    margin-left: 5px;
    cursor: pointer;
}
.topmenu ul li {
    list-style: none;
    float: left;
	padding:10px 11px 0 4px;
}
.topmenu ul li a {
	color:#fff;
	text-decoration:none;	
}
.topmenu ul li a i {
    font-size: 19px;
    margin-right: 6px;
}
/**********side nav************/
  #sidebar-wrapper {
    margin-left: -250px;
    left: 0;
    width: 250px;
	top:0;
    background:#F1F1F1;
    position: fixed;
    height: 100%;
    overflow-y: auto;
    z-index: 1000;
    transition: all 0.5s ease-in 0s;
    -webkit-transition: all 0.5s ease-in 0s;
    -moz-transition: all 0.5s ease-in 0s;
    -ms-transition: all 0.5s ease-in 0s;
    -o-transition: all 0.5s ease-in 0s;
  }
  .sidebar-nav {
    position: absolute;
    top:10%;
    width: 250px;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .sidebar-nav li {
    line-height: 50px;
    text-indent: 20px;
  }
  .sidebar-nav li a {
    color:rgba(88, 86, 86, 0.87);
    display: block;
    text-decoration: none;
  }
  .sidebar-nav li a:hover {
    color:#EF542E;
    background: rgba(113, 113, 113, 0.2);
    border-left: 2px solid #EF542E;
    text-decoration: none;
  }
  .sidebar-nav li a:active, .sidebar-nav li a:focus {
    text-decoration: none;
  }
  .sidebar-nav > .sidebar-brand {
    height: 55px;
    line-height: 55px;
    font-size: 18px;
  }
  .sidebar-nav > .sidebar-brand a {
    color:rgba(88, 86, 86, 0.87);
  }
  .sidebar-nav > .sidebar-brand a:hover {
    color:#EF542E;
    background: rgba(113, 113, 113, 0.2);
    border-left: 2px solid #EF542E;
  }
  #menu-toggle {
    top: 0;
    right: 0;
    /*position: fixed;*/
    z-index: 1;
  }
  #sidebar-wrapper.active {
    left: 250px;
    width:281px;
	top: 0;
    transition: all 0.5s ease-out 0s;
    -webkit-transition: all 0.5s ease-out 0s;
    -moz-transition: all 0.5s ease-out 0s;
    -ms-transition: all 0.5s ease-out 0s;
    -o-transition: all 0.5s ease-out 0s;
  }
  .toggle {
    margin: 5px 5px 0 0;
  }
 a#menu-close {
    float: none;
    margin: 0 0;
    position: absolute;
    top: -45px;
    left: 14px;
}
a#menu-toggle {
    background: none;
    border: none;
}
a#menu-toggle span {
    font-size: 26px;
}
a#menu-toggle {
    padding: 0;
}
.tab-fnctn ul li {
    float: left;
}
 /***********************side nav*****************/
 .logo-1 {
    padding-top: 0 !important;
}
.prfl-hdr {
    background: rgba(0, 0, 0, 0.52);
	position:fixed;
}
button#dropdownMenu1 {
    background: none;
    border: none;
    padding: 0;
}
button#dropdownMenu1:focus {
	outline: none;
}
button#dropdownMenu1 span {
    margin-top: 18px;
    margin-left: 8px;
}
.fixed {
    position: fixed;
    top:100px;; 
	left:0;
    width: 100%;
	z-index:99;
	background:#fff;
}
.fixed ul {
    padding: 0;
    margin: 23px auto;
}
.slider.prfl-slider .carousel-caption {
    bottom: 27%;
    background: rgba(0, 0, 0, 0.56);
}
.bnr-img {
    
}
.bnr-img img {
    width: 66px;
    margin-bottom: 12px;
}
/**************about-us-page  css******************/
.about-us-page-section-1 h2 {
    text-transform: uppercase;
}
.about-us-page-section-1 p{
    text-align: center;
    padding-top: 50px;
}
.about-us-page-section-2 h2 {
    text-transform: uppercase;
}
.about-us-page-section-2 {
    padding: 50px 0 25px;
}
.about-us-page-section-2 h2 {
    margin-bottom: 65px ;
}
.about-us-page-section-2 p{
    text-align: center;
    padding-top: 50px;
}
.about-us-page-section-2 {
    padding-bottom: 50px;
}
.contact-section {
    background: url(../img/contact-bg.jpg) no-repeat center center;
    background: cover;
}
.contact-left {
    padding-top: 83px;
    padding-bottom: 47px;
}
.contact-left h5 a {
    font-weight: 400;
    font-size: 15px;
    color: #282828;
}
.contact-left h5 a span {
    border-radius: 50%;
    border: 3px solid #282828;
    padding: 6px;
    margin-right: 10px;
}
.contact-right {
    padding-top: 83px;
    padding-bottom: 47px;
    background: #f47723;
}
.contact-right .form-control {
    border-radius: 0;
}
.contact-right textarea.form-control {
    height: 100px;
}
.contact-right label {
    color: #fff;
    font-weight: normal;
    font-size: 22px;
}
.contact-btn {
    color: #fff !important;
    background: #000 !important;
    border:none;
    border-radius: 0;
    text-transform: uppercase;
}
.contact-btn:hover {
    color: #000 !important;
    background: #fff !important;
}
.glry-itm {
    height: 219px;
    overflow: hidden;
}
.cd-form, p.cd-form-message {
    font-size: 11px;
}
p.fieldset a {
    color: #0035f3 !important;
}
@media only screen and (max-width: 767px) {
.contact-section {
    background: none;
    background: cover;
}
}
/******************end about-us-page  css**********************/
@media only screen and (min-width: 320px) and (max-width: 359px) {
.passion h2 {
    font-size: 24px;
}
.passion h3 {
    font-size: 16px;
}
.passion h4 {
    width: 97%;
}
.network h2 {
    font-size: 24px;
}
.network-btn {
    font-size: 19px;
}
.get-net h2 {
    font-size: 24px;
}
.home-galary h2 {
    font-size: 27px;
}
/*************/
.slider .carousel-caption {
	background:#000;
	position:relative;	
}
.slider .carousel-caption {
    background: #655f5f;
    position: relative;
    bottom: 0;
    right: 0;
    left: 0;
}
.prfl-img-area {
    position: relative;
    width: 100%;
    bottom: 0;
    background: #655f5f;
    padding-bottom: 10px;
}
.prfl-slider {
    margin-bottom: 0;
}
.tab-fnctn ul {
    width: 100%;
    margin: 51px auto;
}
.tab-fnctn .nav-tabs>li {
    float: none;
}
.frnds-itm {
    width: 100%;
    float: none;
}
.posted-img {
    min-height: 114px;
}
/************/
.slider .form-control {
    color: #fff;
}
/************/
.prfl-hdr {
    position:absolute;
}
.fixed {
    top: 0;
}
.tab-fnctn ul li {
    float: none;
}
.tab-fnctn ul {
    margin: 3px auto;
}
/***************/
section.slider video {
    visibility: hidden;
}
.slider {
    background: url(../img/slider.jpg) no-repeat center center;
    background-size:100% 100%;
    /* height: 500px !important; */
}
.header {
    padding: 0;
}
.logo img {
    max-width: 60%;
}
.logo {
    text-align: center;
    padding-top: 12px;
}
.slider .carousel-caption {
    background: none !important;
    position: absolute !important;
    top: 21px !important;
}
.bnr-img img {
    width: 36px;
    margin-bottom: 2px;
}
.slider h1 {
    font-size: 13px;
    margin-bottom: 12px;
}
.slider .form-group {
    box-sizing: border-box;
    padding: 0 4px;
    margin-bottom: 5px;
}
.slider .form-control {
    font-size: 11px;
    height: 23px;
}
.bnr-login {
    font-size: 12px;
}
.slider p {
    margin: 1px 0;
    font-size: 10px;
}
.slider h4 {
    font-size: 10px;
}
.slider-sign {
    font-size: 11px;
    padding: 5px 25px;
    margin-top: 12px;
}
.carousel-inner {
    height: 300px;
}
}
@media only screen and (min-width: 360px) and (max-width: 479px) {
	
.network{
	background:#dce0e3;
}
.get-net{
	background:#18bcf1;
}
.passion h2 {
    font-size: 24px;
}
.contact-left {
    padding-top: 1px;
    padding-bottom: 47px;
}
.passion {
    padding:47px 0px 0px 0px;
}
.passion h3 {
    font-size: 16px;
}
.passion h4 {
    width: 97%;
}
.network h2 {
    font-size: 24px;
}
.network-btn {
    font-size: 19px;
}
.get-net h2 {
    font-size: 24px;
}
.home-galary h2 {
    font-size: 27px;
}
/*************/
.slider .carousel-caption {
	background:#000;
	position:relative;	
}
.slider .carousel-caption {
    background: #655f5f;
    position: relative;
    bottom: 0;
    right: 0;
    left: 0;
}
.prfl-img-area {
    position: relative;
    width: 100%;
    bottom: 0;
    background: #655f5f;
    padding-bottom: 10px;
}
.prfl-slider {
    margin-bottom: 0;
}
.tab-fnctn ul {
    width: 100%;
    margin: 51px auto;
}
.tab-fnctn .nav-tabs>li {
    float: none;
}
.frnds-itm {
    width: 100%;
    float: none;
}
.posted-img {
    min-height:132px;
}
.prfl-hdr {
    position:absolute;
}
.fixed {
    top: 0;
}
.tab-fnctn ul li {
    float: none;
}
.tab-fnctn ul {
    margin: 3px auto;
}
/***************/
section.slider video {
    visibility: hidden;
	display:none;
}
.slider {
    background: url(../img/slider.jpg) no-repeat center center;
    background-size:100% 100%;
    height: 500px !important;
}
.header {
    padding: 0;
}
.logo img {
    max-width: 60%;
}
.logo {
    text-align: center;
    padding-top: 12px;
}
.slider .carousel-caption {
    background: none !important;
    position: absolute !important;
    top: 64px !important;
}
.bnr-img img {
    width: 68px;
    margin-bottom: 12px;
}
.slider h1 {
    font-size: 13px;
    margin-bottom: 12px;
}
.slider .form-group {
    box-sizing: border-box;
    padding: 0 4px;
    margin-bottom: 5px;
}
.slider .form-control {
    font-size: 11px;
    height: 33px;
}
.bnr-login {
    font-size: 12px;
}
.slider p {
    margin: 8px 0;
    font-size: 12px;
}
.slider h4 {
    font-size: 12px;
}
.slider-sign {
    font-size: 11px;
    padding: 5px 25px;
    margin-top: 12px;
}
.carousel-inner {
    height:auto;
}
}
@media only screen and (min-width: 480px) and (max-width: 640px) {
.passion h2 {
    font-size: 24px;
}
.passion {
    padding:47px 0px 0px 0px;
}
.contact-left {
    padding-top: 1px;
    padding-bottom: 47px;
}
.passion h3 {
    font-size: 16px;
}
.passion h4 {
    width: 97%;
}
.network h2 {
    font-size: 24px;
}
.network-btn {
    font-size: 19px;
}
.get-net h2 {
    font-size: 24px;
}
.home-galary h2 {
    font-size: 27px;
}
/*************/
.slider .carousel-caption {
	background:#000;
	position:relative;	
}
.slider .carousel-caption {
    background: #655f5f;
    position: relative;
    bottom: 0;
    right: 0;
    left: 0;
}
.prfl-img-area {
    position: relative;
    width: 100%;
    bottom: 0;
    background: #655f5f;
    padding-bottom: 10px;
}
.prfl-slider {
    margin-bottom: 0;
}
.tab-fnctn ul {
    width: 100%;
    margin: 51px auto;
}
.tab-fnctn .nav-tabs>li {
    float: none;
}
.frnds-itm {
    width: 100%;
    float: none;
}
.posted-img {
    min-height:179px;
}
.prfl-hdr {
    position:absolute;
}
.fixed {
    left: 0;
    position: absolute;
    top: 0;
}
.tab-fnctn ul li {
    float: none;
}
.tab-fnctn ul {
    margin: 3px auto;
}
/***************/
section.slider video {
    visibility: hidden;
}
.slider {
    background: url(../img/slider.jpg) no-repeat center center;
    background-size:100% 100%;
    height: 500px !important;
}
.header {
    padding: 0;
}
.logo img {
    max-width:30%;
}
.logo {
    text-align: center;
    padding-top: 12px;
}
.slider .carousel-caption {
    background: none !important;
    position: absolute !important;
    top: 21px !important;
    /* width: 50%; */
    margin: le;
    left: 50%;
    transform: translate(-50%,4%);
    width: 100%;
}
.bnr-img img {
    width: 36px;
    margin-bottom: 2px;
}
.slider h1 {
    font-size: 13px;
    margin-bottom: 12px;
}
.slider .form-group {
    box-sizing: border-box;
    padding: 0 4px;
    margin-bottom: 5px;
}
.slider .form-control {
    font-size: 11px;
    height: 33px;
}
.bnr-login {
    font-size: 12px;
}
.slider p {
    margin: 1px 0;
    font-size: 10px;
}
.slider h4 {
    font-size: 10px;
}
.slider-sign {
    font-size: 11px;
    padding: 5px 25px;
    margin-top: 12px;
}
.carousel-inner {
    height: 500px;
}
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
.tab-glry {
    width: 358px;
    float: none;
    margin: 0 auto;
}
}
@media only screen and (min-width: 640px) and (max-width: 767px) {
.prfl-img-area {
    bottom: 0;
    position: relative;
    background: #2f2f2f;
}
.about {
    padding: 93px 0 67px;
    width: 100%;
}
.tab-fnctn ul {
    width: 100%;
}
.frnds-itm {
    width: 50%;
}
.posted-img {
    min-height: 231px;
}
.slider .carousel-caption {
    bottom: 0;
    position: relative;
    left: 0;
    top: 0;
    background: #2f2f2f;
}
.prfl-hdr {
    position:absolute;
}
.fixed {
    top: 0;
}
.tab-fnctn ul {
    margin: 3px auto;
}	
/***************/
section.slider video {
    visibility: hidden;
}
.slider {
    background: url(../img/slider.jpg) no-repeat center center;
    background-size:100% 100%;
    height: 500px !important;
}
.header {
    padding: 0;
}
.logo img {
    max-width: 20%;
}
.logo {
    text-align: center;
    padding-top: 12px;
}
.slider .carousel-caption {
    background: none !important;
    position: absolute !important;
    top: 21px !important;
    /* width: 50%; */
    margin: le;
    left: 50%;
    transform: translate(-50%,4%);
    width: 56%;
}
.bnr-img img {
    width: 36px;
    margin-bottom: 2px;
}
.slider h1 {
    font-size: 13px;
    margin-bottom: 12px;
}
.slider .form-group {
    box-sizing: border-box;
    padding: 0 4px;
    margin-bottom: 5px;
}
.slider .form-control {
    font-size: 11px;
    height: 23px;
}
.bnr-login {
    font-size: 12px;
}
.slider p {
    margin: 1px 0;
    font-size: 10px;
}
.slider h4 {
    font-size: 10px;
}
.slider-sign {
    font-size: 11px;
    padding: 5px 25px;
    margin-top: 12px;
}
.carousel-inner {
    height: 300px;
}
.glry-itm {
    height: 219px;
    overflow: hidden;
    width: 306px;
    padding: 4px 16px;
    box-sizing: border-box;
}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
.prfl-img-area {
    bottom: -37%;
}
.prfl-img-area img {
    width: 21%;
}
.about {
    padding: 93px 0 67px;
    width: 100%;
}
.tab-fnctn ul {
    width: 100%;
}
.frnds-itm {
    width: 50%;
}
.posted-img {
    min-height: 231px;
}
.logo-1 {
    padding-top: 8px !important;
}
.slider {
	position:relative;	
}
.community-btm {
    background-attachment: initial;
}
.slider .carousel-caption {
    bottom: 0%;
    width: 100%;
    right: 0;
    left: 0;
}
.slider h1 {
    font-size: 30px;
    margin-bottom: 10px;
}
/***********12.10.2016****/
.bnr-img img {
    width: 54px;
    margin-bottom: 12px;
}
.slider-sign {
    font-size: 18px;
}
.header {
    padding:10px 0;
}
/****12.10.2016*******/
}
@media only screen and (min-width: 991px) and (max-width: 1023px) {
.slider h1 {
    font-size: 29px;
}
.slider .carousel-caption {
    bottom: 27%;
    width: 100%;
    left: 0;
}
	
}
@media only screen and (min-width: 1024px) and (max-width: 1259px) {
.top-prfl {
    /*font-size: 12px;*/
}
.brdr-img {
    display: none;
}
.topmenu ul li {
    padding: 10px 2px 0 3px;
}
.prfl-img-area {
    bottom: 180px;
}
.tab-fnctn ul {
    width: 66%;
}
.frnds-itm {
    padding: 0 15px;
}
.slider h1 {
    font-size: 29px;
}
.slider .carousel-caption {
    bottom: 0 !important;
    left: 0;
    width: 100%;
}
}
.errors {
    color: rgb(183, 10, 6);
    list-style: none;
}
.tnc ol li ol {
    padding-left: 25px;
}
.faq_container ol {
    padding-left: 20px;
}
.faq_container ol ul {
    padding-left: 20px;
}
.faq_container h5 {
    font-size: 20px;
    padding-bottom: 10px;
}
section.home-galary .thumbnail>img {
    height: 219px;
}
.privacy ol, .tnc ol {
    margin-top: 30px;
}
.label_msg{
    padding: 0px;
    margin: 0px;
}
p.error {
    color: red;
}
.carousel-inner {
     position: relative;
    width: 100%;
    overflow:visible !important;
}